[2015-06-03 17:54] jpsim opened #2 "Determine how to version the browser"
Does it make sense to update the browser on every realm release? If so, should we automate cutting releases (e.g. commit & tag realm-browser repo when running the `release_cocoa` CI job)?

[2015-06-16 21:50] jpsim opened #6 "Set up continuous integration"
There are a handful of unit tests for the browser, and it'd be great if any PR & push to the master branch would be automatically validated by running it in a continuous integration environment. I'd recommend setting up something like Travis CI, so that CI results can be available publicly, and not further strain our internal CI infrastructure.

[2015-06-16 22:29] TimOliver opened #7 "Release Realm Browser on the Mac App Store"
_From @timanglade on April 6, 2015 5:55_

Since the browser is a relevant tool for users who otherwise don’t need to download realm-cocoa (e.g. Java developers, administrators, app designers, etc.), it makes sense at this point to distribute the browser on the app store (in addition to including it in our .zip realm-cocoa releases).

_Copied from original issue: realm/realm-cocoa#1733_

[2015-06-16 22:50] TimOliver opened #8 "Realm Browser navigation doesn't always go "back" to the proper place"
_From @webmagnets on April 20, 2015 20:59_

Here is a video that shows the unexpected behavior:

https://www.dropbox.com/s/6dtitwguo0pgr7e/realm%20navigation.mov?dl=0

_Copied from original issue: realm/realm-cocoa#1770_

[2015-06-16 23:09] TimOliver opened #11 "Support encrypted Realm files in the Browser"
_From @alazier on January 6, 2015 19:6_

null

_Copied from original issue: realm/realm-cocoa#1300_

[2015-06-16 23:09] TimOliver commented on #11
_From @cfeckardt on April 19, 2015 23:8_

I have a mostly working patch for this and will make a PR in the next couple of days.

[2015-06-16 23:09] TimOliver commented on #11
_From @bigfish24 on May 21, 2015 20:20_

@cfeckardt were you able to finish the patch for this?

[2015-06-16 23:16] TimOliver opened #12 "In Realm browser copy and paste only works with the right-click context menu."
_From @webmagnets on January 4, 2015 20:48_

In the Realm browser I am unable to copy with &#8984;-c or paste with &#8984;-p. It works if I right click and then choose one of those options from the context menu.

Thanks for all your hard work guys (and girls?)!

p.s. - Just in case someone is searching for this issue, var &#8984; = "command" // :smile:

_Copied from original issue: realm/realm-coc

[2015-06-16 23:16] TimOliver commented on #12
_From @GreatApe on January 5, 2015 13:36_

Hello, this is because the copy functionality you describe comes from OSX, not the Browser. And I presume they didn't bind the keys because the underlying apps will want to do that. In any case, the Browser itself does not currently have copy-pasting, and when it is introduced there will be at least two different kinds:

1. Copying text (and possibly othe

[2015-06-16 23:16] TimOliver commented on #12
_From @webmagnets on January 8, 2015 15:23_

IMHO: I think text copying should be cmd-c and object copying should be some other combo.

[2015-06-16 23:16] TimOliver commented on #12
_From @mrh-is on February 13, 2015 18:42_

+1 for this feature.

IMHO: Copy whatever is selected, Excel-style. If the row is selected, copy the object; if the text in a cell is selected (by double clicking), copy the text. (Same for paste.)

[2015-06-17 18:51] timanglade commented on #7
To be clear I no longer feel we absolutely need to duplicate releasing both on the Mac App Store + in the .zips. As @jpsim mentioned on the call today, releasing on the Mac App Store (only thing we link in public) + having backup releases on Github (in case we need to rush-link to an emergency fix while waiting for the review process to complete) is probably the way to go.

[2015-06-17 20:44] TimOliver opened #13 "Remove Realm Browser from the realm-cocoa repo"
Now that the code base has been moved to its own repo, it'll be best to remove it from the `realm-cocoa` repo as soon as possible.

[2015-06-17 21:05] TimOliver opened #14 "Remove Realm Browser tests from build.sh"
Remove Realm Browser's test components from the `realm-cocoa` build scripts.

[2015-06-17 21:10] TimOliver opened #15 "Remove Realm Browser from realm-cocoa release zip files"
Ensure that Realm Browser isn't included in the release zips anymore.

[2015-06-17 21:13] TimOliver opened #16 "Update realm.io with location of Realm Browser"
Once the Realm Browser is properly moved, the website will need to be updated to reflect its new location.

[2015-06-17 21:29] TimOliver opened #17 "Automate App Store submissions"
Once CI is set up, we can start looking at automating future App Store submissions in line with major milestone releases of Realm Objective-C.

[2015-06-18 00:10] TimOliver commented on #6
Done! The project is now integrated with Travis CI and building successfully on their end.

[2015-06-18 00:10] #6 closed

[2015-06-19 17:56] TimOliver opened #21 "Re-architect Browser"
_From @timanglade on May 4, 2015 15:12_

Submit a design proposal (markdown file PR’d against realm/realm-cocoa) to propose a new code architecture for our design, accounting for #1387.

_Copied from original issue: realm/realm-cocoa#1828_

[2015-06-19 18:15] TimOliver opened #22 "Graphing Capability"
Just like the Core Data schema editor, Realm Browser should have a view in order to display Realm objects and their relations in an object graph layout.

[2015-06-19 21:13] TimOliver opened #23 "Display common binary data formats"
For data objects containing common format data (such as images and potentially sounds), the browser should be smart enough to identify these by their [magic numbers](https://en.wikipedia.org/wiki/Magic_number_(programming)#Magic_numbers_in_files) and display a preview of the data.

### Image Formats natively supported by OS X
* JPEG
* GIF
* TIFF
* PNG
* PDF

### Sound Formats natively supported by

[2015-06-19 21:59] TimOliver opened #24 "Enhance adding / modifying object properties"
While it's already possible to modify individual properties of objects, the ability to add an manipulate data within .realm files needs to be greatly enhanced.

### Essential Operations
* Add new rows
* Delete entire rows
* Duplicate rows
* Copy rows
* Paste rows

[2015-06-19 22:07] TimOliver opened #25 "Re-order elements inside arrays"
The ability to re-order Realm sub-objects inside array properties.

[2015-06-19 22:08] #25 closed

[2015-06-19 22:13] TimOliver opened #26 "Inserting links by dragging them in from other objects"

[2015-06-19 22:19] TimOliver opened #27 "Simple search implementation"
The ability to insert a search query string and have it return a list of matching results from all data types.
This could include potentially fuzzy logic such as having strings like 'Monday' resolve against date objects.

[2015-06-19 22:22] TimOliver opened #28 "Implement simple predicate filtering"
Based off our existing predicate work in Realm, we allow search look ups using NSPredicate formatting.

[2015-06-19 22:25] TimOliver opened #29 "Creating new .realm files"
Introducing a menu item that creates a new, empty .realm file, and potentially guides the user in adding new data to it.

[2015-06-19 22:34] TimOliver opened #30 "Add new classes to a .realm file"
The ability to add new classes to a .realm file.

[2015-06-19 22:38] TimOliver opened #31 "Add, remove and reorder properties in a .realm file"
The ability to add/remove or reorder properties inside a .realm file.

[2015-06-19 22:47] TimOliver opened #32 "Show visual representation of schema (with schema editing)"

[2015-06-19 22:52] TimOliver opened #33 "Export to new .realm files"
The ability to export all new copies of .realm files.

[2015-06-19 22:56] TimOliver opened #34 "Import/Export different data formats"
## Import Formats
* JSON
* CSV
* SQLite
* Excel
* SQL (Create and Insert)

## Export Formats
* JSON
* CSV

[2015-06-19 23:08] TimOliver opened #35 "Index .realm files found in common developer folders"
To make it easier for developers to locate .realm files generated by Simulator builds, a basic indexing feature to aggregate all of the apps using Realm inside the simulator should be added.

[2015-06-24 04:51] jpsim opened #36 "Run unit tests in CI"
Travis only *builds* the browser, but it should really be running the unit tests to confirm that everything still works. The current CI script is `xctool -workspace RealmBrowser.xcworkspace -scheme RealmBrowser build  CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO`.

[2015-06-24 14:24] TimOliver commented on #36
Ah, thanks for that! I've updated the CI script and Xcode schema to run the tests now.

[2015-06-24 14:24] #36 closed

[2015-06-25 07:38] TimOliver opened #38 "Resolve the reliance on internal Realm API calls"
The Realm Browser presently uses a non-public API of Realm named the 'dynamic API' in order to interact with Realm files without having a proper model class implementation present.

This is obviously not an ideal solution as we'd like to have Realm Browser interacting with Realm exactly how users may interact with it.

As such, we're going to be identifying how Realm Browser interacts with the dyn

[2015-07-01 09:30] #13 closed

[2015-07-01 09:31] TimOliver commented on #16
Changes to realm.io are completed and are waiting in a PR. The changes will be made live once Apple approves the app.

[2015-07-01 09:32] TimOliver commented on #15
Done.

[2015-07-01 09:32] #15 closed

[2015-07-01 09:34] TimOliver commented on #14
Done.

[2015-07-01 09:34] #14 closed

[2015-07-07 08:55] natanrolnik commented on #11
+1 - that's very important

[2015-07-08 09:50] TimOliver opened #41 "Implement an upper limit on the number of Realm files that can be opened at once"
In instances such as the Realm Plugin where multiple Realm files can be programmatically opened at once in the Browser, we'll need to implement an upper limit to ensure that the Browser does't get overloaded.

At present, if a sufficiently large number of Realm files is passed to the Browser, it'll attempt to open them all until it runs out of resources.

[2015-07-08 12:52] bmunkholm commented on #41
How would you define that limit? What happens when it is overloaded?

On Wed, Jul 8, 2015 at 2:50 AM, Tim Oliver <notifications@github.com> wrote:

[2015-07-09 08:37] TimOliver commented on #41
At present this is what happens if it gets overloaded:
![6d5e0380-24c8-11e5-8272-ed656ddbee34](https://cloud.githubusercontent.com/assets/429119/8591006/04fef5c4-2658-11e5-876a-aac6d4ba16fa.jpg)

For the time being, we're going to add a prompt to the Browser for the user to confirm if the plugin tries to open more than 5 .realm files at once.

[2015-07-09 17:07] jpsim commented on #41
@TimOliver this should be a very simple fix, could you dedicate a few minutes when you're back online to address this?

[2015-07-09 18:43] bmunkholm commented on #41
It this a real problem? Who wants to open that many files? And if they do,
there is an error informing about what's wrong.

On Thu, Jul 9, 2015 at 7:07 PM, JP Simard <notifications@github.com> wrote:

[2015-07-10 09:21] TimOliver commented on #41
@jpsim No worries. I've added a new method that prompts the user if the delegate detects multiple files being opened at once. I've tested it by selected multiple Realm files on disk and dragging them over the Browser's icon.

 Unfortunately, I haven't been able to test it against the Realm Plugin properly yet. That scenario where having two versions of Xcode on the system confuses the plugin happe

[2015-07-12 17:35] TimOliver opened #45 "Set/modify relations between objects"
When creating or modifying objects that contain RLMObject or RLMArray properties, it would be possible to set (and in the case of RLMArray, reorder) the sub-objects that these properties are referencing.

This may require a new UI dialog to be designed.

[2015-07-22 00:45] mark-anders opened #47 "Can't open Swift realm databases with Browser"
I'm just getting started with Realm swift using the swift-2.0 branch. I've both successfully written a program that can write to and read from a database as well as run the TableView sample. In both cases, when I attempt to open the default.realm file, which is located in my simulator directory, I get an "Invalid database" error.

Since I haven't been able to figure out how to upload the .realm fi

[2015-07-22 05:53] TimOliver commented on #47
Hi Mark!

Thanks for moving the issue over here from the realm-cocoa repo!

I just had a look at those .realm files and they don't seem right. 4KB is too small, and when I opened them up in a hex editor, half of the bits in there were all zeros.

I'm getting the feeling that it's not specifically a problem with Realm Browser (Which is presently using the latest version of Realm Objective-C), but i

[2015-07-22 05:59] TimOliver opened #48 "Realm file format icon"
Create a new icon file in the same design vein as Apple's document formats to be used for .realm files that have been associated with be opened in Realm Browser.

[2015-07-22 15:11] mark-anders commented on #47
Hi Tim!  Here are 2 links.  The first is to a test project that illustrates the problem.  Unzip it, run "pod install" and open the workspace.  It's pretty simple. All the code is in the App Delegate.

I've also included a link to database that it created, which like the others is invalid.

https://dl.dropboxusercontent.com/u/48424008/Realmbug.zip

https://dl.dropboxusercontent.com/u/48424008/Realm

[2015-07-22 19:36] thejojo87 commented on #47
I have the same problem.swift2.0 realmswift .
i can read and query in the code ,but can not open the realm file.

[2015-07-23 06:36] TimOliver commented on #47
Thanks a lot for that guys! I had a chat with the other engineers and then just confirmed the build for myself.

You might have uncovered a case we hadn't discovered yet where the Swift 2.0 branch of Realm is producing .realm files that are sufficiently different that the Objective-C version of Realm inside the Realm Browser is unable to read them.

Thanks for letting us know about this! We'll be

[2015-07-27 04:39] timanglade opened #49 "Make better screenshot for App Store & Docs"
The browser itself doesn’t have much UI — it’s all about the data. So if the data is crappy, the browser looks crappy.

Can we make a new screenshot with the following issues fixed?
1. Use real classes with a real schema people can understand
2. Show a model less columns so the screenshot doesn’t look too busy
3. Make sure the data in the column is consistent so the columns look regular (In the cu

[2015-07-28 08:39] Fab1n commented on #47
Any progress on that? We have the same issue there!!!

[2015-07-28 16:59] jpsim commented on #47
tl;dr; we're working to cut an official release of core as soon as possible with the new file format disabled

I posted an update on this yesterday in the realm-cocoa mailing list: https://groups.google.com/d/msg/realm-cocoa/nllwT4KYMzw/clEGScpW8McJ

[2015-07-30 06:20] TimOliver commented on #49
Alrighty. I had a think about this, but let me get confirmation before I spend any cycles on this.

Going with these requirements, I think it would be better if we built a quick sample app to generate a Realm file containing some tightly-controlled, hand-crafted data, instead of relying on randomly generated sample data (Which I explored in the some of the Realm sample apps), or some contextless p

[2015-07-30 07:11] TimOliver commented on #48
Looking at a lot of other apps, it seems the general convention for file format icons on OS X is to use the generic system documents icon, and compose the app's icon on top of it.

<img width="256" alt="realmfileformaticon" src="https://cloud.githubusercontent.com/assets/429119/8977586/0a0b1112-36cd-11e5-9374-738ceadc73f4.png">

Any objections or alternative suggestions? :)
/cc @yoshyosh @mrh-is @

[2015-07-30 07:12] TimOliver commented on #16
All done!

[2015-07-30 07:12] #16 closed

[2015-07-30 16:06] timanglade commented on #48
lgtm. Maybe make the icon’s shadow a tinge darker than normal (especially
in the upper left “corner”) so the white border doesn’t blend too much into
the sheet of paper behind it?

On Thu, Jul 30, 2015 at 12:11 AM, Tim Oliver <notifications@github.com>
wrote:

[2015-07-30 16:09] timanglade commented on #49
I think having both age + birthdate might be confusing. Usually you’d only store the birthdate and calculate the age, no? Looks good otherwise!

[2015-07-30 16:42] TimOliver commented on #49
Normally yes.  But for the sake of demonstrating the capabilities of the Browser, being able to demonstrate the age as an integer value might be beneficial.

Failing that, I'll try and think up another integer value we could potentially advertise. :)

[2015-07-30 17:06] jpsim commented on #49
Go for `height` as a Double instead?

[2015-07-30 17:26] TimOliver commented on #35
I was thinking about this one a bit today, trying to figure out how to lay it out in a way that's considered natural on OS X.

Looking at Sketch, Xcode and a few other apps, it looks like standard convention is to display this sort of 'quick launch' behavior in a dialog that appears when the app is launched.

Here's a really quick mockup of a potential launch screen layout:

![realmbrowserwecomesc

[2015-07-30 17:28] TimOliver commented on #49
@jpsim Ooh! That's a great idea! Thanks for that! :)

Cool, so assuming no other issues, I'll create a mock Realm file with these pieces of data to use as the screenshot tomorrow. :)

[2015-07-30 17:31] TimOliver commented on #48
Excellent! Glad you like it!

No worries. I'll have a play with it to make sure it doesn't look like that when it's presented in a white Finder window.

[2015-07-30 17:49] yoshyosh commented on #35
I like that, I think we should make it as easy as possible to find your current Realm file that you are debugging. I had some ideas like this:

![screen shot 2015-07-30 at 10 48 26 am](https://cloud.githubusercontent.com/assets/775056/8990652/9b361756-36a8-11e5-8d5f-9410311ebf0b.png)

[2015-07-30 18:58] mrh-is commented on #48
Is the page curl still there in Yosemite? The iWork document icons don't have it.

Other than that LGTM.

[2015-07-30 19:24] timanglade commented on #35
I like it but we also need to cover the “empty” case where there are no
recently opened Realm files, or no Realm files in “common developer
folders”.

On Thu, Jul 30, 2015 at 10:49 AM, Joseph Anderson <notifications@github.com>
wrote:

[2015-07-30 22:46] mrh-is commented on #35
Good for me, with a couple caveats:

- Definitely need a "Show this when Realm Browser opens" checkbox so I can make this stop happening
- Make sure we don't do this if we're reopening a file (such as OS X window restoration)
- I like Joe's, it's pretty. Would make the buttons a bit larger, and remove ß

[2015-07-31 00:00] timanglade commented on #35
I was actually more of a fan of Tim’s: looks more like standard Mac OS UI
(minus the buttons in the upper right corner, which I believe look off for
whatever reason). I agree Joe’s is prettier but I think it’s too branded
and not Mac-ish enough.

On Thu, Jul 30, 2015 at 3:46 PM, Michael Helmbrecht <
notifications@github.com> wrote:

[2015-07-31 09:38] TimOliver commented on #49
Alrighty. How's this?

![realmbrowserscreenshot](https://cloud.githubusercontent.com/assets/429119/9004698/df98cd14-37aa-11e5-85bf-60646652aca6.jpg)

[2015-07-31 17:44] TimOliver commented on #48
@mrh-is Yep! It looks like the iWork apps might be a bit of an exception to the rule, but the majority of system file formats still use that style:

![screen shot 2015-08-01 at 1 41 33 am](https://cloud.githubusercontent.com/assets/429119/9013469/c45a7fa4-37ee-11e5-9f53-9e52434a01f9.png)

Cool! I'm putting together a pull-request with the new icon integration now.

[2015-08-01 14:04] schickling commented on #47
+1

[2015-08-01 21:25] jpsim commented on #47
As of https://github.com/realm/realm-cocoa/pull/2309 (~4 days ago), including the official [0.94 release](https://realm.io/news/realm-objc-swift-0.94/), Realm Swift and Realm Objective-C have reverted to the old file format, compatible with the Realm Browser. So this should no longer be a problem.

[2015-08-01 21:25] #47 closed

[2015-08-03 15:07] TimOliver commented on #27
This is probably a duplicate of #28.

[2015-08-03 15:07] #27 closed

[2015-08-03 15:10] jpsim commented on #2
We're now versioning the browser, so I'm closing.

[2015-08-03 15:10] #2 closed

[2015-08-04 03:59] #48 closed

[2015-08-04 04:01] TimOliver commented on #41
I changed the wording slightly to ensure that there was no confusion about causing instability on the system level, and subsequently merged the changes for this one into the main branch.

[2015-08-04 04:01] #41 closed

[2015-08-04 23:27] timanglade commented on #49
Definite improvement! I would ship it. (At some point later on we may want
to add a third model + fill vertical space in the grid). Can you update
this in our docs + on the app store?

On Fri, Jul 31, 2015 at 2:38 AM, Tim Oliver <notifications@github.com>
wrote:

[2015-08-06 17:13] lionpants opened #52 "Realm Browser crashing with Realm v0.94.0"
The Realm Browser was working perfectly before Realm v0.94.0, but since updating (we moved to cocoapods too); the browser now crashes if it is open while a change to the Realm Database is made in the running Simulator. I am using the new version of the Browser from the AppStore.

I'm able to reproduce this 100% of the time. Here's the crash info...

    Process:               Realm Browser [78299]

[2015-08-06 17:18] TimOliver commented on #52
Hi there!

Oh dear! I'm sorry to see that!

I just finished updating the Realm Browser build here with Realm 0.94 as well (The App Store version is still running v0.93).

Have you tried building a version of the Realm Browser from the code here and seeing if it still crashes?

If so, I'll need to expedite an update of the Realm Browser to the App Store as soon as possible.

[2015-08-06 17:29] lionpants commented on #52
I'm trying to build the latest version via Xcode but can't due to code signing issues. Is there another method I am not aware of?

[2015-08-06 17:36] TimOliver commented on #52
You should be able to turn the code-signing off if it's a local build (I might see if I can make them automatic in the settings).

[2015-08-06 17:39] lionpants commented on #52
Cool, didn't know you could turn signing off.

Yup the latest version seems to work fine!

[2015-08-07 03:11] TimOliver commented on #52
Excellent! I'm glad that fixed it!

We'll need to look at getting an update to the App Store integrating 0.94 quickly to ensure this doesn't happen to anyone else!

[2015-08-07 17:30] TimOliver commented on #52
Actually, you know what? This issue shouldn't have been happening.

I just tested a similar scenario with one of my own production Realm files, and it worked fine, and one of the developers just confirmed with me that nothing should have been changed between 0.93 and 0.94 to create a crash-level incompatibility.

It's possible you may have come across a small edge case that we should be looking in

[2015-08-10 15:26] lionpants commented on #52
I've managed to reproduce this in a small test app.

Steps to reproduce...
- Start the app
- Click the "Do Things" button, this will insert 10000 Animals into the Realm DB
- Open RealmBrowser 0.93.2 (7)
- Open the Realm DB file for the TestApp
- You should see the 10000 Animals and 4 Food objects
- Press the "Do Things" button again
- RealmBrowser should crash

TestApp...
http://dropcanvas.com/cqg

[2015-08-10 16:35] TimOliver commented on #52
Awesome! Thank you so much for doing that! That's a huge help to us!
I'll have a play with that sample app and see if I can uncover what's going on exactly.
Thanks again!

[2015-08-10 17:50] lionpants opened #53 "Allow the use of 'CMD + A' to select all rows in a table"
Add the ability to select all rows in a table by pressing CMD+A allowing for quick deletion. Or better yet, a right click option in the Table List that would delete all rows in a table.

[2015-08-13 03:00] lidemin commented on #34
+1. Really need it . Especially when we want to deliver app with db files.

[2015-08-13 03:32] TimOliver commented on #34
Thanks for that!

Are there any particular formats there you're interested in? I'm still wondering which ones to prioritize.

[2015-08-13 03:34] lidemin commented on #34
@TimOliver Thanks! Actually I was trying to use some CSV data and found that Realm Browser does not support it now. Really appreciate it.

[2015-08-18 22:43] bdash opened #55 "Allow writing a copy of an open Realm to a new file"
When determining whether excessive file sizes is caused by version pinning a helpful first step can be to write a copy of the Realm to a new file to see whether that shrinks the file. It'd be convenient if the browser supported doing this.

[2015-08-19 16:09] TimOliver commented on #55
@bdash Sure thing! Would a simple 'Export Copy...' option in the File menu suffice for that?

[2015-08-19 16:56] segiddins commented on #55
Maybe `Save As...` ?

[2015-08-19 22:21] bmunkholm commented on #55
"Compress File As"?

On Wed, Aug 19, 2015 at 6:56 PM, Samuel E. Giddins <notifications@github.com

[2015-08-19 22:42] astigsen commented on #55
I would just say "Save As...". The fact that the file can get smaller is
just a happy side effect (but we might consider including an `optimize()`
to make it even better :-)).

Saying "Compress File As"? could easily lead people to believe that the
resulting file was zipped or similar.

[2015-08-20 06:37] TimOliver commented on #55
Done! I've created a WIP PR here: https://github.com/realm/realm-browser-osx/pull/56; let me know what you think. :)

I've tentatively gone with "Save As..." for the menu item text, but I think we should reconsider this. I don't think we should use any terminology that implies that Realm files need to be manually saved. I chose "Export Copy..." since it was aimed to explicitly denote that a static

[2015-08-25 05:18] TimOliver commented on #52
Alright. After discussing it with another one of the Cocoa engineers, we think this must be some kind of bug in Realm Objective-C itself that manifested between version 0.93 and 0.94.

I've re-uploaded the sample app, and mirrored the steps for reproduction in the Realm Cocoa repo (https://github.com/realm/realm-cocoa/issues/2432). We'll continue working it out from there.

Thanks again so much fo

[2015-08-25 05:18] #52 closed

[2015-08-26 09:44] TimOliver opened #58 "Provide handling for specific file format version exceptions"
Once NULL support is published in Realm, introducing with it, a file format upgrade, there may be unique instances where a combination of the Realm Browser's version of Realm may not support specific version numbers of Realm files (Both potentially older or newer).

While this is not generally expected, error checking will be added to Realm Core in order to account for these scenarios when and if

[2015-08-26 09:48] TimOliver opened #59 "Improve the experience of the "Open Common Location" menu item"
At present, the "Open Common Location" menu item scans all of the most common developer directories on a Mac (iPhone Simulator, Downloads etc) for .realm files.

The experience of this menu item isn't great. Indexing of .realm files is done on the main thread, and can be time-consuming, blocking the Realm Browser's UI.

A review of this feature and how it works should be undertaken, but at the ver

[2015-08-28 03:40] ReDetection commented on #45
Seems like title is only about set/modify relation (which is done), but description tells that reordering left to do. Quite confusing, can you please fix it?

[2015-08-28 03:51] ReDetection opened #60 "Y U NO USE TAGS?"
Subject. :wink:
It's easier to track current version here. https://github.com/realm/realm-browser-osx/releases

And how soon can I see latest version in the Mac AppStore?

[2015-08-28 16:34] TimOliver commented on #60
Thanks for the heads-up! I've added a tag for v0.93 for now. :)

Soon! I'm going to consolidate the feature I'm working on now (Encrypted Realm support) as well as update the Browser to use Realm 0.95 and then look at getting a release submitted after that.

[2015-08-28 16:34] #60 closed

[2015-08-31 15:19] jpsim opened #61 "Add CHANGELOG"

[2015-09-03 22:06] jpsim commented on #7
This was done over a month ago: https://itunes.apple.com/app/realm-browser/id1007457278

[2015-09-03 22:06] #7 closed

[2015-09-04 00:55] segiddins opened #62 "El Capitan display issues"
![screen shot 2015-09-03 at 8 39 10 pm](https://cloud.githubusercontent.com/assets/1946610/9674361/28f9caf6-527e-11e5-9501-9126749c300d.png)

[2015-09-04 16:59] TimOliver commented on #62
Thanks for that @segiddins! I'm looking into it now.

It seems that El Capitan has changed the way view layout is handled, so the block of code handling the sizing/placement of those bubbles isn't getting called anymore.

[2015-09-04 22:43] astigsen opened #65 "Search field not working"
The search field seems to be broken on version 0.93.2. Clicking on it does not allow you to write in it, so there is no way to search.

[2015-09-04 22:44] astigsen opened #66 "Browser is lacking Data Model generation for Swift"
The browser can generate Data Models for Java and Objective-C, but not Swift.

[2015-09-04 22:48] astigsen opened #67 "Weird editing behaviour on dates"
When editing dates it sometimes show up a small data picker, sometimes edits it as string. Seems a bit random depending on how you click on it.

[2015-09-05 13:25] muenchdo commented on #34
Is there a workaround to export the Realm data as CSV/JSON/whatever until the Realm Browser supports this?

[2015-09-07 19:16] jpsim commented on #34
@muenchdo until the Realm browser supports this natively, you could write an app to convert the data using a Realm binding ([Realm Cocoa](/realm/realm-cocoa) or [Realm Java](/realm/realm-java)).

[2015-09-08 21:36] segiddins opened #71 "Using browser while writing from app can lead to file size growth"
See https://github.com/realm/realm-cocoa/issues/2412.

[2015-09-09 04:01] TimOliver commented on #62
Fixed and merged in!

[2015-09-09 04:01] #62 closed

[2015-09-22 19:33] azamsharp opened #72 "Realm Browser does not refresh when underlying data changes"
Realm Browser does not automatically refresh when the underlying data changes due to insert, update, delete operation. I have to manually close the Realm Browser and then open it again to see the changes.

Realm Browser
Version 0.93.2 (7)

[2015-09-22 19:35] azamsharp opened #73 "Realm Not Fetching Back References for an Object"
I have objects like this:

GroceryItem
tile
groceryCategory

AND
GroceryCategory
title
let groceryItems = List<GroceryItem>()

When I fetch the groceryItems like this:

 self.groceryItems = realm.objects(GroceryItem).filter("shoppingList == %@", self.shoppingList).sorted("dateCreated", ascending: false)

It does not fetch the grocery categories associated with the grocery items.

self.groceryItem[

[2015-09-22 19:54] jpsim commented on #73
This query refers to properties that aren't present in your model:

[code]

According to your models, `GroceryItem` doesn't have a `shoppingList` or `dateCreated` property. So these queries should be throwing exceptions at runtime indicating this mismatch.

Perhaps the model definitions you posted are incomplete? If so, please post a more complete code example so we have more information to go on

[2015-09-22 19:56] jpsim commented on #72
Please make sure the Realm Browser is at the same version as the Realm framework in your application. If this is already the case, we'll need a bit more information to go on in order to identify what's happening.

Thanks!

[2015-09-22 20:02] azamsharp commented on #72
I am using latest version of Realm and the Realm Browser that was available a week ago.

[2015-09-25 19:19] bdash opened #77 "Browser hangs when closing an open Realm"
When closing an open window, the browser hangs. This appears to happen because `-[RLMDocument dealloc]` tries to `dispatch_sync` to the main queue. If `-dealloc` is called on the main queue, this deadlocks. In my testing this happens every time.

[code]

[2015-09-25 19:26] bdash opened #78 "Numeric columns often appear empty"
On OS X 10.11, most numeric columns in the browser appear to be empty unless they have very large numbers:
<img width="783" alt="empty column" src="https://cloud.githubusercontent.com/assets/54825/10110151/4f8be51a-6380-11e5-86d2-3b4ea4dd9488.png">

Manually resizing the column allows the values to become visible:
<img width="783" alt="non-empty column" src="https://cloud.githubusercontent.com/ass

[2015-09-30 18:43] jpsim opened #83 "Realm browser crashes when data changes"
Cross-posted from realm/realm-cocoa#2610 /cc @tolgaytoklar.

---

Hi

I am using el capitan and when any data changes, realm browser is crashing everytime. Here crash report:

I downloaded realm browser from app store.

[code]

[2015-10-01 05:58] TimOliver commented on #83
Thanks @jpsim!

Hi @tolgaytoklar! Sorry to hear you've been having crashing issues. I think we've actually seen this one before, and if that's the case, then it's caused by a slight incompatibility that was introduced between Realm 0.94 and 0.93. We normally don't change too much between versions to cause compatibility issues,

There's a version of Realm Browser waiting to be reviewed by Apple fea

[2015-10-01 08:02] tolgaytoklar commented on #83
I will download new version from app store, then I will update here. Thanks your for help.

[2015-10-03 19:10] jakecraige commented on #12
Ran into this today and thankfully came across this issue so I could do it. Excel-style copying makes sense.

For full MVP-ish-ness, I'd be completely happy if when you were editing a column and select the text if Command-C and Command-V would work.

Thanks for this sweet db browser!

[2015-10-04 17:29] TimOliver commented on #12
Hi @jakecraige!

Thanks for that! Yeah, I've been exploring adding the Cut/Copy/Paste menu options back in, and then making them contextually away of copying cells, as well as copying cell values. It's definitely something that would make the experience of the Browser a lot better!

[2015-10-05 01:48] roothybrid7 commented on #62
![2015-10-05 0 48 27](https://cloud.githubusercontent.com/assets/217229/10271565/e15d6a3a-6b4c-11e5-8e6e-293cb4144063.png)

I found an another El Capitan display issue.
I can resize a property column, but I don't see a property value with abbreviation.

[2015-10-07 17:04] TimOliver commented on #78
Thanks a lot for reporting that Mark!
I had a bit of a play with it a few days ago to see what's going on. Turns out that El Capitan must have changed how views are now laid out; the text fields inside the cells are no longer resizing to match the bounds of the cells.

I'm working on a way to fix it!

[2015-10-07 17:17] TimOliver commented on #62
Hi @roothybrid7! Thanks for reporting the issue!

Yeah, that's the same bug reported in issue https://github.com/realm/realm-browser-osx/issues/78
It seems the view layout code has changed between Yosemite and El Capitan, but I'm still exploring how to correct it.

[2015-10-07 21:09] amccarri opened #84 "Support Realm 0.96"
Opening a Realm 0.96 database results in error message saying database is encrypted or is not in a compatible file format.

Config:

realm-browser-osx master
Xcode 7
el capitan
Realm 0.96-beta2

[2015-10-08 09:36] TimOliver commented on #84
Hi @amccarri!

Sorry about that! With the new NULL support in Realm 0.96, it's introducing a pretty comprehensive file format change as well, which is why it's reporting that it cannot open the file.

I'll create a beta version of the Browser with Realm 0.96 support, but we'll be holding back on an official build with 0.96 until we've implemented a way to ensure developers can explicitly disallow

[2015-10-08 12:28] TimOliver commented on #84
Okay! Here's a branch that has been updated to use Realm 0.96-beta. You should be able to download it and build it as-is (Make sure to open the workspace as it uses CocoaPods).

https://github.com/realm/realm-browser-osx/tree/0.96-beta

As Realm 0.96 is still in beta, if you discover anything that needs fixing, please let us know!

[2015-10-08 16:20] amccarri commented on #84
w00t! thanks! ... I was able to work around by just checkout out the project and updating the Realm pod dependency to 0.96... was going to submit it back to you but you beat me to it. :)

[2015-10-08 16:20] #84 closed

[2015-10-08 21:01] TimOliver commented on #84
No worries! Yeah, that was all there was to it in the end. :) Thanks a lot for the offer of the PR though! :)

Let me know if you find any other issues in there!

[2015-10-09 09:37] katta opened #85 "Browser not working for realm database created using realm-java v0.83"
Using realm-java v0.83 and the realm browser fails to open the database. It says "Invalid Database" in a popup when I try to open a database.

To ensure the database is created properly, when I debug using the android app, am able to query the data I have inserted, hence I assume the database is created properly but the browser is not able to open it.

[2015-10-09 10:10] TimOliver commented on #85
Hi @katta!

Ahh, yeah. That's to be expected for now. The latest version of Browser is built with Realm-Cocoa 0.95 which is running on a slightly older version of the Realm Core than the latest version of Realm-Java.

There's a beta branch of the Browser using the new 0.96 beta version of Realm-Cocoa, which I believe is using the latest version of the Core (But we're still testing it on the Cocoa

[2015-10-09 19:16] amccarri commented on #84
Will do ... do you have any idea when 0.96 is going to ship?  We really have to have null support, which is why we are targeting Realm 0.96.  Wondering if 0.96 final will be out before our ship date.

[2015-10-10 11:15] marukami commented on #85
Can confirm that 0.96-beta works for realm-java v0.83.0

[2015-10-10 15:47] katta commented on #85
I wasn't able to get it built on my machine. Is there any specific
instructions to build apart from the following

1. pod install
2. Build in xcode

-Katta

On Sat, Oct 10, 2015 at 4:45 PM, Mitchell Tilbrook <notifications@github.com

[2015-10-11 08:16] marukami commented on #85
That's what I did. Though, I did have to use the GUI xcode, could not seem to build with the CLI.

what error did you get?

In case it helps I'm running
pod: 0.39.0
Xcode: 7.0.1

[2015-10-11 16:09] katta commented on #85
Am using older version of xcode v6.x, will try with the newer version of xcode and update.

[2015-10-13 00:44] astigsen opened #86 "Update data model generation to support nullable, non-nullable properties"
Realm now supports nullable properties. We have to make sure that the generated data models also reflects this.

[2015-10-15 14:31] kneth opened #87 "Open old and new Realm files"
Related to #85: when we introduce null support, the Realm file format is changed. But it would be great if older Realm files can be opened too.

[2015-10-15 17:22] TimOliver commented on #85
@katta If you're still having trouble, I've pre-built a version of the Ream Browser running the official version of 0.96 now: https://github.com/realm/realm-browser-osx/releases/tag/0.96-prerelease

Let me know if you need anymore help!

[2015-10-15 17:26] TimOliver commented on #87
@kneth Thanks for that Kenneth! It's already on my list! :)

I was looking at the `SharedGroup` header file, and it looks like Realm can't open files from a previous version if you don't let it run the automatic update process (It will simply throw an exception). Can you confirm that?

[2015-10-15 21:26] astigsen commented on #87
It would be great if it in those cases could just show a dialog asking if you want to upgrade the file. If they reply no, it would be fine to say that they can't open it and should use an older version of the browser.

[2015-10-16 08:16] kneth commented on #87
@TimOliver Yes, your observation is true: it is not possible to open a v2 file, and you should first try opening by disallow upgrade, catch the exception and show the dialog as @astigsen suggest. I do find it a bit cumbersome to have two different versions of the browser installed. In the case, the user doesn't wish to upgrade, we could copy the file, upgrade it and show the temporary copy. Of cou

[2015-10-19 20:28] tolgaytoklar commented on #83
I updated the Realm. Still have same problem. Here crashlog:

Process:               Realm Browser [8660]
Path:                  /Applications/Realm Browser.app/Contents/MacOS/Realm Browser
Identifier:            io.realm.realmbrowser
Version:               0.95.2 (9)
App Item ID:           1007457278
App External ID:       813508364
Code Type:             X86-64 (Native)
Parent Process:        ??

[2015-10-23 14:30] brainray opened #90 "Realm Browser crashes on certain data Type"
Since either release 0.96 or Xcode 7.1 (can't tell) Realm Browser crashes when selecting a certain data type. I'm using the ObjC version. Please try to open the sidebar for "Menu".
The crash leads to terminate.hpp line 38.

The realm can be found here:
https://www.dropbox.com/s/z1brux2cp6bbnqn/Archive.zip?dl=0

[2015-10-23 14:33] TimOliver commented on #90
Hi @brainray!
Thanks a lot for the report. I'll test it out on my end and see what's going on in there. :)

[2015-10-24 07:40] ZAPHIT commented on #47
+1

[2015-10-24 07:45] TimOliver commented on #47
@ZAPHIT

Are you experiencing this issue? What version of Realm are you running?

[2015-10-24 07:48] ZAPHIT commented on #47
Yes.. i tried cocoa pods on realm.. i have updated xcode 7.1 .. cant open Realm file. says its has wrong format or encrypted, i have removed the encryption but still it cannot open.

[2015-10-24 07:48] ZAPHIT commented on #47
the latest..

[2015-10-24 07:56] TimOliver commented on #47
Oh okay! That would be Realm 0.96.1 then.

The current Realm Browser on the App Store can only open files up to v0.95. If you want, there's a pre-release version of the Browser that can open Realm files of version 0.96 and above here:

https://github.com/realm/realm-browser-osx/releases/tag/0.96-prerelease

I'm working on preparing a new build of the Browser that supports 0.96 (and a bunch of bug

[2015-10-24 07:58] ZAPHIT commented on #47
thanks!..

[2015-10-26 12:20] brainray commented on #90
Hi @TimOliver ! To me it looks like this is fixed with the recent commit of 0.96 beta/ ff893e7

Thanks a lot :-)

Ray

[2015-10-26 12:20] #90 closed

[2015-10-28 17:37] bdash commented on #78
This fix from #88 was merged to master as part of #91. This is fixed in v0.96.1, available at https://github.com/realm/realm-browser-osx/releases and in the App Store in the very near future.

[2015-10-28 17:37] #78 closed

[2015-10-28 17:42] bdash opened #93 "v0.96.1 on GitHub is not signed with Developer ID"
The v0.96.1 binary at https://github.com/realm/realm-browser-osx/releases appears to be signed with an App Store signing certificate:

[code]
This causes Gatekeeper to prevent the downloaded app from opening without extra steps from the user. If we're going to provide binaries, and we should since it's a good fallback for App Store review issues, we should be signing them with Developer ID.

[2015-10-29 00:06] jpsim commented on #93
:+1:

[2015-11-05 21:59] bdash opened #100 "Scrolling performance is subpar when viewing a class with many instances and properties"
Ideally the instance table view would scroll at 60fps, even when viewing large models. Currently scrolling performance suffers when there are many properties. From looking at a profile I noticed a few issues:

- [ ] Cell views are constantly being created during scrolling. They should be reused after a sufficient number are created to cover the drawn area. #99 should address this.
- [ ] We're eage

[2015-11-08 00:06] DrJid commented on #72
Can confirm this bug. Using RealmSwift installed from Pods. And the data browser that's currently on the app store. After changing the underlying model, the data browser does not update

[2015-11-08 05:15] DrJid commented on #72
Actually, Using this pre release realm browser fixes this issue. https://github.com/realm/realm-browser-osx/releases/tag/0.96-prerelease I guess the assumption that I downloaded the latest files from cocoapods and the app store makes you think they are the same versions.

[2015-11-08 05:22] TimOliver commented on #72
Hi @DrJid!

Yep that's correct! If you're using the latest version of Realm in your app, you'll need that pre-release version of the Browser to open any files created with that version.

That version is currently in review with Apple and should be on the App Store within the next few days.

Thanks!

[2015-11-09 14:12] TimOliver opened #103 "Review/Fix Realm Browser plugin integration with Xcode 7"
As [reported on Stack Overflow](http://stackoverflow.com/questions/33587782/how-do-i-get-file-open-in-realm-browser-menu-option-to-work), the Realm Browser plugin integration may have stopped working in Xcode 7.

[2015-11-09 15:58] TimOliver commented on #77
Thanks again for that Mark! I fixed it this in PR https://github.com/realm/realm-browser-osx/pull/80.

[2015-11-09 15:58] #77 closed

[2015-11-14 03:04] TimOliver commented on #11
Implemented in #https://github.com/realm/realm-browser-osx/pull/74

[2015-11-14 03:04] #11 closed

[2015-11-15 05:45] TimOliver commented on #33
Implemented in https://github.com/realm/realm-browser-osx/pull/56

[2015-11-15 05:45] #33 closed

[2015-11-15 06:50] TimOliver commented on #65
Thanks for that @astigsen! I just tested it on the latest version of the Browser, on both of my laptops running OS X El Capitan, and OS X Yosemite respectively, and it was working perfectly on both (Although, I wasn't happy with the search string being case-sensitive, so I just changed that: https://github.com/realm/realm-browser-osx/pull/104).

If this issue does manifest for you again on the lat

[2015-11-15 06:50] #65 closed

[2015-11-16 16:25] jpsim commented on #55
Closing as this was done in #56.

[2015-11-16 16:25] #55 closed

[2015-11-16 17:00] TimOliver commented on #87
For the initial release of Realm 0.96, I implemented the logic we discussed here where a file is 'tested' against that upgrade requirement before it is opened, and a dialog box warning the user appears. (PR: https://github.com/realm/realm-browser-osx/pull/91). At the moment, if the user refuses to upgrade the file, they simply cannot open it in that version of the Browser.

Now I can come back and

[2015-11-16 17:03] TimOliver commented on #67
Thanks for reporting this @astigsen! I researched this one on the weekend.

It looks like the data picker only appears when you double-click the table cell. If you single-click it, the standard system text field takes appears instead.

I'm tracking down in the code where these two states are managed so I can make sure they're standardised. :)

[2015-11-16 17:09] TimOliver commented on #85
Thanks a lot for the feedback everyone!

Apple has approved v0.96 of the Browser, featuring the new file format, and it is officially live on the App Store now. Please be sure to update to it and let us know if you experience any issues with it.

https://itunes.apple.com/au/app/realm-browser/id1007457278?mt=12

Thanks!

[2015-11-16 17:09] #85 closed

[2015-11-16 17:12] TimOliver commented on #83
Hi @tolgaytoklar!

Are you still experiencing these crashes? We've updated the Realm Browser again to the latest version of Realm recently. If you're still experiencing these problems, then this is very serious.

Please try updating to the[ latest version of the Realm Browser](https://itunes.apple.com/au/app/realm-browser/id1007457278?mt=12) and let me know how you go!

[2015-11-16 17:14] #61 closed

[2015-11-16 17:15] #58 closed

[2015-11-16 17:15] TimOliver commented on #49
Updated in the both the Realm documentation and the latest App Store submission.

[2015-11-16 17:15] #49 closed

[2015-11-16 17:18] TimOliver commented on #38
The dynamic API calls in Realm Cocoa were moved out of the private header space and into a new dynamic one, and Realm Browser was subsequently updated to match.

[2015-11-16 17:18] #38 closed

[2015-11-17 07:29] kneth commented on #87
"Open as Read-Only" might be fine as it implies that the file isn't migrated to the new file format.

[2015-11-17 08:48] TimOliver commented on #93
Dang it! Thanks for that @bdash!

I'll look into properly signing and re-uploading a new version. Unfortunately, the Member Center seems to be down for the time being, so I'll keep checking back.

[2015-11-17 10:00] Narayane commented on #103
Hi @TimOliver,

I confirm this bug on Xcode 7.1 (7B91b)

I don't have "Open Realm Browser" submenu in Xcode "View" menu when I run an app using Realm on simulator.

Best regards.

[2015-11-18 08:53] TimOliver commented on #103
Thanks a lot for that @Narayane!

I've confirmed it was only a matter of registering the UUIDs of Xcode 7 in the Realm Plugin, and I've just submitted a PR to have that updated. :)

https://github.com/realm/realm-cocoa/pull/2870

[2015-11-18 09:32] TimOliver commented on #93
Alrighty! I've signed, and uploaded a new version of the Realm Browser to [Releases](https://github.com/realm/realm-browser-osx/releases).

[code]

[2015-11-18 09:32] #93 closed

[2015-11-19 13:37] andrewthecoder opened #106 "EXC_CRASH when opening specific Realm file"
(Happy to share the particular file that causes this via Slack etc. but not publicly).

[code]

[2015-11-19 13:43] andrewthecoder commented on #34
We badly need this. Any kind of structured export would be better than nothing - CSV or JSON sound sensible to me, whatever is easier to implement.

I've tried writing a CSV export app in Java with realm-java, but hit issues with Android dependencies. I'll give it another go this evening and share if I get anywhere.

In the meanwhile, because all our data is stored as JSON as strings in our Realm

[2015-11-19 15:54] jpsim commented on #106
Thanks for reporting this @andrewthecoder! We'd appreciate if you could email this file to help@realm.io and in addition, any information that would help us determine how the file got in the state it's in.

For example:

1. which version of Realm was this file first created with?
2. which versions of Realm accessed this file?
3. on what device/platform was this file created?
4. can you share the c

[2015-11-19 21:29] andrewthecoder commented on #106
Hi @jpsim, thanks for the quick reply!
I've emailed the file to help@.

1) realm-java 0.83-SNAPSHOT
2) only the above, as we've only ever used that version in our app
3) Android, on a customer's device so not 100% sure what device / Android version
4) I've already done so in the past to help@, see my communications with cmelchior. I doubt it'll help much in this case though, as I don't believe the

[2015-11-23 05:51] TimOliver commented on #103
The PR has now been merged into Realm-Cocoa, and should be available upon the next Realm Cocoa release update. :)

[2015-11-23 05:51] #103 closed

[2015-11-23 22:20] jpsim commented on #106
To others finding this thread, @andrewthecoder sent us the offending Realm file and we're now investigating what may have cause this file to get corrupted.

[2015-11-25 19:27] jpsim opened #109 "Allow button disabled on the screen "realm browser needs access to this path""
Originally posted by @pvencill in realm-cocoa: https://github.com/realm/realm-cocoa/issues/2903

[2015-11-26 08:44] TimOliver commented on #109
Hi @pvencill!

Sorry to hear you're having an issue with the sandboxing dialog in the Browser. That particular window is required by Apple since the user needs to grant permission to the folder that the Realm file is located in, in order to be able to open it.

I've never seen it disabled before, but my guess would be that somehow, it wasn't able to work out which folder your Realm file is in on i

[2015-12-04 02:33] owen26 commented on #83
my version is 0.96.2(46) and I do experiencing the same issue. Every time the data changed by my xcode simulator, the opened realm browser crashes.

[2015-12-04 15:20] jeeftor commented on #86
This would be nice

[2015-12-05 03:56] TimOliver commented on #109
In my testing on the Realm Browser yesterday, I came across this problem as well. I was trying to open up a Realm file that was located in my Mac's temporary directory (generated by Realm Browser's unit tests), and the 'Allow' button was disabled. This seems like an intentional policy on Apple's behalf to stop third party apps messing with certain system locations.

I came up with 2 potential work

[2015-12-05 03:56] #109 closed

[2015-12-09 19:12] sprint84 opened #111 "Add Link to Object not working"
When I select the option to add a link to an existing object, it opens a list of objects of the same type, but I can't select one of them. Double-clicking or hitting return prompts to edit one of the fields.

[2015-12-11 07:16] ReDetection commented on #111
Hi @sprint84 ! One click is enough.
I was the guy who write this feature. Just checked it with latest version of realm browser from the appstore — still working. Can you provide any additional info? Maybe the (almost empty) database file?

[2015-12-15 07:56] sudhiryadav commented on #28
Is this coming?

[2015-12-15 08:23] TimOliver commented on #28
Yes, at some point! :)

[2015-12-16 03:56] TimOliver commented on #53
I added this yesterday. It's now possible to select all rows in a table, by either pressing cmd-A, or choosing 'Select All' from the 'Edit' menu.

It'll be available to download in a new update soon.

[2015-12-16 03:56] #53 closed

[2015-12-29 00:30] chrislonge commented on #103
Thank you for this!!! :thumbsup: :clap: :satisfied:

[2016-01-05 00:25] astigsen opened #114 "Class not shown as selected when initially opening realm"
When you initially open a realm file the browser will display the content of one class (presumably the top-most one) in the main pane, but no class is shown as selected in the navigation pane, so you can't know what class you are looking at.

The class whose objects is currently being displayed should be shown as selected in the navigation pane.

[2016-01-05 00:29] astigsen opened #115 "Following link does not update navigation pane"
When you click a link that points to an object in another class, the main pane will shift to show the new class (with the object selected), but the navigation pane is not updated, so i very confusingly still shows you as being in the original class.

This also prevents you from selecting this class (to go back to the objects you came from). Clicking the class has no effect, presumably because the

[2016-01-07 01:32] astigsen commented on #115
Fixed by #117

[2016-01-07 01:32] #115 closed

[2016-01-07 01:32] astigsen commented on #114
Fixed by #117

[2016-01-07 01:32] #114 closed

[2016-01-16 08:56] saraht129 commented on #83
I am experiencing the same issue too on my simulator. The realm browser crashes every time there's a data change on the opened realm.

[2016-01-30 17:03] foobar8675 opened #123 "Not showing complete string in pk"
if you look at the screenshot, the id column has a string temptestchild1_2016-01-26 08:32:28 +0000; where in the browser, it shows temptestchild1_2016-01-26

running Version 0.97.0 (62)

![screen shot 2016-01-30 at 9 01 11 am](https://cloud.githubusercontent.com/assets/1685700/12697121/163ee032-c730-11e5-96a8-90d64a2ecd69.png)

[2016-02-01 08:44] TimOliver commented on #123
Hi @foobar8675!

When text is too long in the text fields, it wraps downwards. If you click and drag downwards, you should be able to see the rest of your text.

Alternatively, you can also make the column wider. :)

We're still refining how the Realm Browser renders content, so if you've got any other suggestions on how it should work, please let us know! Thanks!

[2016-02-01 17:16] foobar8675 commented on #123
in google sheets (or excel) , when i mouse over a dividing line in the column, the cursor changes to let me know i'm in a state where i can resize the column.

as it's been noted by a few other people, i'm a big fan of the data export to csv, that i believe you are working on.

[2016-02-02 06:29] TimOliver commented on #123
It does if if you mouse over the region where the divider line should be in the header bar. Admittedly we should probably make that a bit more obvious.

Haha that's correct! I'm working on the finishing touches for it now. Hopefully we can make it go public this week. :)

(Thanks a lot! It's still definitely a heavy work in progress so we really appreciate the feedback! :) )

[2016-02-02 06:29] #123 closed

[2016-02-08 10:56] kubatru opened #124 "Get .realm from the device automatically"
I know how to get realm database from the current running device, but I'm wonder if there is some automatic way to do that (e.g. run script during the build phase to get the last .realm database from the previous run).

[2016-02-08 17:13] TimOliver commented on #124
Hi @kubatru!

Just to be sure, do you mean from an actual device, and not just the iOS Simulator?

We just had a quick discussion about this. Since your test apps expose sandbox access to Xcode, it MIGHT be possible write a script to have Xcode perform a manual dump of the user data for your app.

That's not confirmed at all though. We'd need to do some thorough research to see if it actually is f

[2016-02-08 17:45] jpsim commented on #124
As far as I know, there's no officially supported way to programmatically get files off an iOS device.

We could embed a webserver in `Realm.framework` for use for debugging, but that seems inappropriate in almost every other situation.

[2016-02-09 13:15] kubatru commented on #124
Thank you guy, fingers crossed

[2016-02-14 22:03] bdash opened #126 "Default double format gives impression that values are being truncated"
The default formatting of double and float columns rounds to three digits after the decimal place. This [can be confusing to users](http://stackoverflow.com/questions/35389784/realm-save-double-but-float) as there's no indication that the displayed value is not the stored value.

[2016-02-15 17:11] grahamsmith opened #127 "CSV Import"
Following a comment on a java realm Github.com issue

https://github.com/realm/realm-java/issues/2241#issuecomment-184304396

The idea here is that demo data could be stored in a CSV file and imported via the browser.

It would be good to see the creation of new classes and to upsert existing data.

This would be great for testing if combined with commandline tools to create dummy datasets.

To gi

[2016-02-15 17:19] grahamsmith commented on #30
This seems really essential to me. It would make this tool much more valuable and help in creating test data for App development. +1

[2016-02-16 07:04] TimOliver commented on #127
@grahamsmith Thanks for the issue!

We've got an issue tracking formats we want to support here: https://github.com/realm/realm-browser-osx/issues/34

At the moment, I'm putting the finishing touches on a module to allow importing CSV data into a new  Realm file and exporting it again (But not appending data to existing Realm files just yet).

I'm hoping to release it this week. :)

[2016-02-19 00:07] foobar8675 commented on #123
i know you were asking for feature requests, the ability to sort by clicking the name of the column would be handy.

[2016-02-23 09:53] vualeks opened #130 "'Add new object to array' not working"
Hi,

I've just created a simple db that has object with a RealmList array field. It says in browser that array is empty (has 0 objects). Right click and selecting 'Open array in new window' opens a window to add new objects to this array. Right click on the table allows to 'Add new object to array' and when I click it, it creates a new object of that kind in its table, but it doesn't link it to th

[2016-02-24 19:27] trustyfrog commented on #130
I'm getting this, at least with the App Store version. I see the count for objects of that type go up but I just can't insert the new object.

[2016-02-25 19:40] trustyfrog commented on #130
@vualeks As a temporary measure, if you create a row programatically then the browser lets you add additional rows thereafter.

[2016-02-27 20:16] virl opened #133 "Crashes when used with SimPholders"
When using Realm Browser (installed from App Store) with SimPholders + FUSE OS X, the realm browser crashes when trying to open default realm database from SimPholders' fuse volume.

[2016-02-28 20:40] kgoedecke commented on #133
+1

[2016-02-28 20:41] kgoedecke commented on #83
same here!

[2016-02-28 23:43] tolgaytoklar commented on #83
@TimOliver

Hey, sorry for late reply.

Yes I am still experiencing these crashes. But it just happening sometimes. Previously realm was crashing evertime when data changes. (It is still crashing when data changes.) I am using latest version of Realm and Realm Browser.

[2016-02-29 05:56] TimOliver commented on #133
Hey guys! Thanks for the bug report!

Oh dear. Really? I use the Browser with SimPholders a lot, but not with FUSE OS X as well.

What sort of error message is being displayed when it crashes?

[2016-02-29 08:49] vualeks commented on #130
Well, It's not particularly useful because adding every new object that also has lists inside will have empty list and then I'll be unable to new object to that newly created list. Anyway thanks, but I guess I'll have to wait for a bug fix for this :)

[2016-02-29 14:56] virl commented on #133
@TimOliver
[code]

[2016-03-01 06:46] kuteteen opened #135 "help me export file .realm to .csv ?"
help me export file .realm to .csv ???

[2016-03-02 12:43] DanielAsher opened #136 "Consider keeping (/scrolling to) selection after Find is closed"
I often search for an item (within 130,000), select it, then close (/cancel?) the `Find`. I would expect my selection would remain after `Find` is closed and the selection would be visible.

Currently cancelling a `Find` returns me to the first item in the table.

[2016-03-05 05:22] chrisamanse opened #137 "Caskroom Support"
Can you support installation of Realm Browser using [caskroom](https://caskroom.github.io)?

[2016-03-09 10:35] duemunk opened #138 "Use tabular (monospaced) font for numbers"
Currently the number are shown using a font(setting) with proportional numbers. This leads to the following changing margin as seen in the screenshot:
![screen shot 2016-03-09 at 11 32 53](https://cloud.githubusercontent.com/assets/489138/13632591/b48f67d8-e5ea-11e5-8f5c-940586efd60e.png)

If it was changed to use tabular (monospaced) it would be easer to compare numbers in a column as well as pre

[2016-03-10 14:12] TimOliver commented on #135
Hi @kuteteen! Sorry for the delay!

I pushed a pre-release version of the Browser featuring our new CSV exporter to the GitHub releases last week: https://github.com/realm/realm-browser-osx/releases/tag/0.98.3

Please have a look at that and tell me if you think it needs anything else! Thanks! :)

[2016-03-10 14:16] TimOliver commented on #133
Sorry for the delay @virl!

Hmm, that's really odd. Does it work fine if you try and open the file normally without going through FUSE? There's mention of mapped memory failing in there, so I'm wondering if there's some kind of underlying read issue occurring within Realm itself when you try and load it in that configuration.

[2016-03-10 14:16] TimOliver commented on #137
Hi @chrisamanse!

Interesting! I've never heard of Caskroom before. What sort of advantages would it give over the App Store or (as we're potentially investigating it) the Sparkle framework?

Thanks!

[2016-03-10 14:34] chrisamanse commented on #137
I'm new to Caskroom as well.

Well, Sparkle would be more user-friendly. However, for those who are fond of installing tools through the command line, it would be convenient to install or update Realm Browser just by running a terminal command (assuming [homebrew](http://brew.sh) is already installed). On the other hand, App Store updates would lag behind GitHub releases.

As of now, without Spark

[2016-03-10 17:25] virl commented on #133
@TimOliver Yes, realm file itself opens just fine in any external app (like binary editor, etc.).

[2016-03-10 20:57] vitorgalvao commented on #137
Sparkle and homebrew-cask (caskroom is the organisation) aren’t mutually exclusive. Sparkle allows you to auto-update your app, while homebrew-cask allows you to install it by using the command line. They’re different things.

[2016-03-10 23:02] jpsim commented on #137
Since the browser is open source, why not use Homebrew proper instead? A few OSS OS X apps do this already.

[2016-03-10 23:03] jpsim commented on #137
Also, the caskroom formula you posted has a number of issues, first of which is the lack of signature verification.

[2016-03-11 00:13] vitorgalvao commented on #137
@jpsim Because homebrew is more geared towards CLI apps and homebrew-cask towards GUI apps, and [as we bring the projects closer together](https://github.com/caskroom/homebrew-cask/issues/14384), [that divide will be even more pronounced](https://github.com/caskroom/homebrew-cask/issues/15603#issuecomment-162168106).

[2016-03-11 00:24] chrisamanse commented on #137
@jpsim I'll update the Cask in my PR.

@vitorgalvao If the app, for example, is updated using Sparkle, will homebrew-cask also recognize the update?

[2016-03-11 00:27] vitorgalvao commented on #137
@chrisamanse https://github.com/caskroom/homebrew-cask/issues/13201. Homebrew-cask won’t care. It won’t stop the app from doing what it does and updating automatically.

[2016-03-11 03:25] TimOliver commented on #133
Thanks for that @virl!

I just installed FUSE OS X and updated my copy of SimPholders to have a look at it myself. Just like you said, I wasn't able to open Realm files inside a FUSE mounted virtual volume (I was getting the explicit error: "Inappropriate file type or format").

That being said, this is definitely not an issue with the Realm Browser; more it's an issue with Realm Objective-C and h

[2016-03-11 03:25] #133 closed

[2016-03-11 04:00] virl commented on #133
Thanks.

[2016-03-11 04:31] TimOliver commented on #133
No worries! I've filed the issue here: https://github.com/realm/realm-cocoa/issues/3310

[2016-03-11 16:32] chrisamanse commented on #137
Just added `realm-browser.rb` in homebrew-cask (caskroom/homebrew-cask@c023d767b3c16462f1c90148cf35ff456faacd33)

We can now install realm browser by running `brew cask install realm-browser`. You may also need to update the casks info repo by running `brew cask update`.

[2016-03-11 16:32] #137 closed

[2016-03-11 19:58] mikemee opened #140 "Update data model generation to support primary key annotations for Java"
1. build a realm database from Swift that includes the following:
[code]
2. Open the resulting database in the Realm Browser
3. Chose File -> Save Model Definitions -> Save Java Definitions...

Expect: Resulting model file will have the @PrimaryKey annotation like:
[code]

Actual: Model file has no annotation:
[code]

_Note: I'm not sure how primary keys are indicated for Objective-C, but I took a

[2016-03-12 23:35] miff opened #141 "Unsupported version"
<img width="426" alt="screen shot 2016-03-13 at 00 31 18" src="https://cloud.githubusercontent.com/assets/469459/13725966/f787ba2a-e8b2-11e5-9dd9-e4176cb127fb.png">

Am update to the latest RealmSwift and Realm Browser and then start to fire this error, how to solve this?
Thanks,
Milan

[2016-03-13 13:42] thejojo87 commented on #141
me too,after i updated realm by 0.98.4. i cannot open realm data by browser.

[2016-03-13 13:46] miff commented on #141
@thejojo87 try to restart, but the problem continue https://github.com/realm/realm-cocoa/issues/3321, it's crash on some older devices

[2016-03-15 07:09] TimOliver commented on #141
Hi guys! It looks like we might have had a slight hiccup when we released Realm 0.98.4, so we released Realm 0.98.5 today.

I just put up a new build of the Browser incorporating 0.98.5 here: https://github.com/realm/realm-browser-osx/releases/tag/0.98.5

Could you please test that and see if it fixes that issue for you? Thanks!

[2016-03-15 08:55] miff commented on #141
It's working now :+1:

[2016-03-15 10:14] TimOliver commented on #141
Awesome! Thanks for that! I'll be sending that version off to the App Store very shortly!

[2016-03-15 10:14] #141 closed

[2016-03-17 00:03] astigsen opened #144 "Generate JavaScript Data Models"
Now that Realm is also available for React Native, the browser should have the ability to generate Data Models for JavaScript as well.

[2016-03-17 05:08] kishikawakatsumi opened #145 "Realm Browser seems to be not able to open compressed realm files"
Cross-posted from realm/realm-cocoa#3338 /cc @victor-kotov-arcadia .

## Goals

I have realm backup copy of the realm DB. I'm trying to open it with Realm Browser app for Mac OS X.

## Expected Results

DB opened and I'm able to check data and structure.

## Actual Results

Realm Browser crashed and next launch it's saying "File encrypted or incompatible".

## Steps to Reproduce

Make backup copy

[2016-03-17 05:29] TimOliver commented on #145
Thanks for that @kishikawakatsumi / @victor-kotov-arcadia

There's a new version of Realm Browser that's on the latest version of Realm. It's available here: https://github.com/realm/realm-browser-osx/releases/tag/0.98.5 and the App Store version is currently awaiting review.

Please try that one and see if it helps. There have been some format compatibility breaking changes in the later point rel

[2016-03-17 06:16] victor-kotov-arcadia commented on #145
Hi @TimOliver, thanks for pointing to a new version of the Realm Browser, I used it and all goes smoothly, so no issues with newest version of the Browser.

[2016-03-26 21:36] kentcheung2000 opened #146 "My Realm Browser crashed when open in Mac OS Mavericks"
My realm browser crashed when open a realm file in Mac OS Mavericks. It has no problem when opened in EI Capitan.

Thanks for helping.

Process: Realm Browser [477]
Path: /Applications/Realm Browser.app/Contents/MacOS/Realm Browser
Identifier: io.realm.realmbrowser
Version: 0.98.5 (66)
App Item ID: 1007457278
App External ID: 816743972
Code Type: X86-64 (Native)
Parent Process: launchd [311]
Respo

[2016-03-30 04:18] TimOliver commented on #145
Awesome! I'm glad to hear that fixed it! Thanks!

[2016-03-30 04:18] #145 closed

[2016-03-30 04:27] TimOliver commented on #135
We haven't heard anything from this issue for a while, so I'm closing it. If you wish to follow up, feel free to re-open it! :)

[2016-03-30 04:27] #135 closed

[2016-03-30 05:03] TimOliver commented on #127
Hi @grahamsmith!

We've included a CSV importer into the later versions of Realm Browser. Please have a try and let me know what you think!

https://github.com/realm/realm-browser-osx/releases/tag/0.98.6

Thanks!

[2016-03-30 05:03] #127 closed

[2016-03-30 05:21] TimOliver commented on #124
I'm going through and cleaning out the Browser's issue list.

I researched it too, and there's definitely not an official way to access files on iOS device from an OS X app. It would need to be a custom implementation, most likely entirely on the device's side, which is a bit out of scope for the Browser.

For the time being, I would recommend trying out Flipboard's FLEX project. We recently contr

[2016-03-30 05:21] #124 closed

[2016-03-30 05:29] TimOliver commented on #140
Hi @mikemee!

Sorry for the delay. We updated our model generation code in the Browser relatively recently, and there is now functionality to handle primary keys on the Java side.

I cut a new release of the Browser yesterday. Can you let me know if you're still having that trouble in that release? https://github.com/realm/realm-browser-osx/releases/tag/0.98.6

Thanks a lot!

[2016-03-30 06:21] TimOliver commented on #138
Hi @duemunk!

Sorry for the delay! That's an awesome idea! Thanks for that! I'll look into seeing how we can add that in!

Thanks! :)

[2016-03-30 06:21] TimOliver commented on #144
Good idea! I'll look into that! :)

[2016-03-30 07:09] TimOliver commented on #136
Hi @DanielAsher!

Thanks for that! I'll see if I can have a look at making the scroll position stick. :)

[2016-03-30 07:24] TimOliver commented on #146
Hi @kentcheung2000!

Oh dear! Thanks a lot for that! It looks like we accidentally included an API that was introduced in Yosemite when we did our auto-layout overhaul for El Capitan!

I'm installing Mavericks in a VM now so I can test this it out there and come up with an implementation pattern that'll work properly on both.

[2016-03-30 14:49] mikemee commented on #140
Hi @TimOliver!

I now see `@PrimaryKey` annotations.  Cross this one off the list. Many thanks!

[2016-03-30 16:55] jpsim commented on #146
@TimOliver might be worth running CI on OS X 10.9, 10.10 & 10.11 to catch issues like these. See https://docs.travis-ci.com/user/languages/objective-c#Supported-OS-X-iOS-SDK-versions

[2016-03-30 16:55] #140 closed

[2016-03-30 21:55] cancan101 opened #148 "Most Common Locations are Greyed Out"
Why are the locations mostly greyed out:?
![image](https://cloud.githubusercontent.com/assets/51059/14158842/7f5bee80-f6a0-11e5-8c1b-c0ff851b68cb.png)

[2016-04-08 15:31] TimOliver commented on #146
Hi @kentcheung2000!

I've uploaded a new version of the Realm Browser that should hopefully fix your problem here.
Please give it a try and let us know how you go! https://github.com/realm/realm-browser-osx/releases/tag/0.98.6

[2016-04-08 19:38] kentcheung2000 commented on #146
Thanks!  It fixed the problem. 👍

[2016-04-10 04:44] TimOliver commented on #146
Awesome! I'll try and see if I can make it work a bit nicer on Mavericks down the line, but I'm glad to hear that's solved the crashing problem! :)

Let me know if you need anything else! :)

[2016-04-10 04:44] #146 closed

[2016-04-15 12:36] XBeg9 commented on #83
+1

[2016-04-16 16:47] tstanik commented on #148
+1

[2016-04-17 17:39] ianwhite2 commented on #127
@TimOliver  I don't think so Import csv is working

[2016-04-19 13:28] azrashaikh commented on #28
Can I have any update on the same ?

[2016-05-04 08:07] akmalazlanjamal commented on #47
I'm having the same problem with Realm 0.98.5. I use realm with Java.

[2016-05-04 09:46] basememara commented on #34
Seems like it's only possible to import one table only. Importing another CSV file to create/populate another table overwrites the previous database.

The XSLX is able to create multiple tables, but doesn't populate any of them.

Also, no way to specify the schema? It creates all columns as strings.

Am I missing something or is this almost useful?

[2016-05-06 18:14] TimOliver commented on #47
@akmalazlanjamal Which version of the Browser are you using? We just released a new version (0.101.0) that introduced a file format change.

[2016-05-08 19:08] balazsgerlei opened #152 "Simply does not work in most cases"
Hi!
I don't know if I am doing something wrong but the Realm browser simply does not work in most cases. I'm trying to edit a Realm which was created on Android by the Realm Java version 0.90. I'm using the RealmBrowser v0.101.0 downloaded from the app store. I use the Realm Browser in OSX El Capitan.

This is my experience so far:

- When I open my realm file, I try to add a new "row" with Edit/A

[2016-05-08 19:16] balazsgerlei commented on #152
I tried the same with the "Generate demo database" option in tools menu, and the same thing happens. When I add a new object, it adds a new "row" with a random value to the first "column", but any modification I make in that row disappears as soon as I change to another class in the left plane and back.

[2016-05-08 19:41] bmunkholm opened #153 "Clearly state compatibility"
The About box (as a minimum) should clearly state which versions of the Android and Cocoa products it is compatible with, and where to find older versions of the browser.

[2016-05-09 12:27] balazsgerlei commented on #152
Hi!

I managed to grab an error report of one of the crashes (I was editing a realm, deleted an object and tried to modify the primary key of another one, than the waiting "lollipop" appeared and the app hang. After a couple of minutes I force quitted it, and than got a crash. If you are interested in the actual report, please let me know where to send it.

[2016-05-10 16:11] akmalazlanjamal commented on #47
@TimOliver Thanks for the update. Now I can read after update Browser to the latest version.

[2016-05-11 14:08] hiaw opened #154 "'default' could not be opened. It may be encrypted, or it isn't in a compatible file format."
This seems to happen when the version changed. But I'm using the latest Realm Browser from App Store and latest RealmJS via npm.

Steps:
1. Create new app for react native
2. Write some data into Realm, can see the size of "default.realm" increase
3. Tries to open with Realm Browser but it gives "'default' could not be opened. It may be encrypted, or it isn't in a compatible file format."

Realm B

[2016-05-11 15:25] TimOliver commented on #154
Thanks for the issue!

Realm React Native is still using a slightly older version of the file format than the latest version of the Browser, which was updated for Realm Objective-C and Realm Swift.

For the time being, until Realm React Native is also updated, I recommend using one of the older versions of the Browser: https://github.com/realm/realm-browser-osx/releases/tag/0.98.6

[2016-05-12 12:05] stel commented on #66
Looks like this issue should be closed, isn't it?

[2016-05-12 12:13] jpsim commented on #66
Yes, thanks for identifying!

[2016-05-12 12:13] #66 closed

[2016-05-13 12:48] stel opened #159 "Artefacts while drawing table view for selecting link to an object"
Looks like it's related to a transparent textfield background + vibrancy in popover.

![screen shot 2016-05-13 at 2 42 59 pm](https://cloud.githubusercontent.com/assets/429275/15248187/1dd9964e-1919-11e6-8e9d-76b3c3c80ae7.png)

[2016-05-13 13:15] KMKRN opened #160 "Realm Browser plugin not launchable through Xcode 7.3"
I've tried the manual installation and also Alcatraz, but I don't see the option to launch Realm Browser from Xcode. Here's what I'm supposed to see:

<img width="542" alt="ss" src="https://cloud.githubusercontent.com/assets/7746223/15248920/07c3e54a-191d-11e6-9150-6a01a237561a.png">

But I don't really see it there, although Alcatraz shows the RB is installed.

<img width="363" alt="screen shot 2

[2016-05-17 13:06] #12 closed

[2016-05-17 13:06] #138 closed

[2016-05-17 13:06] #159 closed

[2016-05-19 07:51] erkro1 opened #164 "No compiled version for latest release"
Maybe you're already aware of this but the latest release is missing a compiled version zip, just thought I would let you know.

[2016-05-19 08:02] jpsim commented on #164
There are no relevant changes to Realm Objective-C since the latest release of the Realm Browser, so there's no need to make a new release.

[2016-05-19 08:02] #164 closed

[2016-05-19 08:20] TimOliver commented on #164
I had a built version already made, so I put one in there for completeness' sake. :)

@stel's done some great work on improving the Browser itself since I cut that release, so I'll cut a new one for 0.103.0 soon too.

[2016-05-19 08:44] stel commented on #164
@TimOliver just one thing: could you test it on OS X 10.9 please? Everything should work but I don't have 10.9 installed..

[2016-05-23 15:49] virl opened #167 "Ability to open Realm from path in clipboard"
Need menu option to open Realm from path in clipboard, including the value of string variable copied from Xcode debugger.

[2016-05-23 19:31] Zuba1703 opened #168 "How to update the Realm? (App does not read the database)"
Hey. I encountered such a problem. I've updated the Realm browser, today opened a database file, I had a message, offer to update the database file. I clicked "OK" and then my application does not read the file.
I was told on Twitter- update Realm. But nowhere have I found detailed instructions - how to do it correctly. I have done through the "pod install", but none of that happened.

[2016-05-23 20:41] jpsim commented on #168
Which Realm product are you using in your app? Realm Objective-C, Swift, Java, React Native or Xamarin?

The following Realm products are all compatible with the latest version of the Realm Browser (0.103.1):

* Realm Objective-C: 0.101.0 or later
* Realm Swift: 0.101.0 or later
* Realm Java: 0.90.0 or later
* Realm React Native: 0.13.0 or later
* Realm Xamarin: unsupported

[2016-05-23 21:00] Zuba1703 commented on #168
Realm Swift.
XCode 7.3
Realm Browser 0.102.1

In the terminal. When I wrote "pod install". There is a message "Using Realm (0.103.1)". But the application does not open the file Realm

[2016-05-23 21:35] jpsim commented on #168
Realm Swift 0.103.1 should be compatible with Realm Browser 0.102.1. What's the error you get when opening the file in your application?

[2016-05-23 22:51] leoderbois commented on #23
I totally agree, that's can be awesome for debugging

[2016-05-24 05:21] Zuba1703 commented on #168
After the manual filling of the database through the Realm Browser my program crashes with a fatal error.
`fatal error: 'try!' expression unexpectedly raised an error: Error Domain=io.realm Code=2 "Unable to open a realm at path '/Users/Zuba/Documents/SwiftLesson/BrainsGame/BaseRealm/TestRealm.realm'" UserInfo={NSFilePath=/Users/Zuba/Documents/SwiftLesson/BrainsGame/BaseRealm/TestRealm.realm, NSLo

[2016-05-24 10:41] stel commented on #167
You can use "Go to Folder" shortcut `Shift+Cmd+G` in Open dialog and paste this path from the clipboard.

Anyway there could be some improvements:
- Show the Open dialog in a specific location if there is a path in clipboard
- Add an "Open Location..." menu item
- Add a "Clipboard" section to an Open Common Locations submenu

[2016-05-24 10:52] virl commented on #167
Thanks.

On 24 May 2016 13:41 +0300, Dmitry Obukhov<notifications@github.com>, wrote:

[2016-05-24 15:54] jpsim commented on #168
@Zuba1703 can you please share the Realm file that you can't open? That way I can introspect its contents and format to determine why it's failing to open.

[2016-05-24 16:42] Zuba1703 commented on #168
I recently wrote to tech support address and that's what I was told:

[2016-05-24 19:07] jpsim commented on #168
Alright, please update us once you've had a chance to try that!

[2016-05-25 17:40] carotorrehdz opened #169 "Dates inconsistency"
Hi guys! First of all, thanks for all of your hard work. Realm browser is a really helpful tool. It's just that I'm having some issues with the dates values shown at the browser.

I'm receiving a JSON from my server with dates in UTC timezone

[![This is part of the json I'm getting from my server.][1]][1]
  [1]: http://i.stack.imgur.com/6j4dL.png

And I call `Realm.createOrUpdateObjectFromJson` t

[2016-05-25 17:52] jpsim commented on #169
Just like regular `NSDate`s, dates in Realm don't contain any timezone data. So this is the browser rendering a timestamp in your timezone.

[2016-05-25 18:12] carotorrehdz commented on #169
Thanks for clarifying this for us.

[2016-05-25 18:12] #169 closed

[2016-05-27 02:34] jeremieweldin commented on #30
+1

[2016-05-27 10:22] tstanik commented on #83
+1

[2016-05-28 20:06] anlaital opened #173 "RealmOptional nil values are not displayed correctly."
Realm object models that contain ```RealmOptional```s having ```nil``` values are converted to ```0```s by the browser.

I have attached an example Realm file that highlights this issue. This issue is extremely easy to reproduce just by opening the ```default.realm``` file contained within the zip file in the browser.

Quickly debugging this issue revealed that the error happens already in ```RLMC

[2016-05-31 18:34] jpsim commented on #173
Thanks for reporting this @anlaital! I heard @TimOliver was looking into fixing this, I suspect he'll chime in here shortly with his thoughts/

[2016-06-01 08:31] TimOliver commented on #173
Thanks for the report @anlaital! I had a look at it and ran some tests on my own.

I ran into the same 'nil values being converted to zeros' that you reported as well. I backtracked it to that same `RLMRealm` call and was wondering maybe the dynamic API was serving incorrect values.

Turns out that wasn't the case. The Browser had a few checks in there to ensure data wasn't nil (harking back from

[2016-06-03 09:51] stel commented on #126
Was fixed in https://github.com/realm/realm-browser-osx/pull/158

[2016-06-03 09:51] #126 closed

[2016-06-04 17:33] Allsimon opened #177 "Compact Realm files"
Is there a way to compact Realm files using this browser ?

[2016-06-05 11:29] balazsgerlei commented on #152
An update on this situation.
I updated Realm in my app to 1.0.0 and the Realm browser to 0.103.1 via the Mac App Store. When I open Realms created by the app, I am now able to modify existing "rows"/Objects and even ones that are added with the Edit/Add New Object menu. These modifications do persist after closing and reopening the Realm Browser now except one that I detail below:

The problems th

[2016-06-05 17:16] TimOliver commented on #152
Hi @balazsgerlei!

Sorry for the lack of communication! Thanks a lot for your issue reports! I'll focus on your last reported issue in here. If you're still having trouble with the other issues, please create other GitHub issues for them.

I had a quick look at the issue you're describing, and I was able to reproduce it here. For some reason, making changes to a primary key field fails, and is app

[2016-06-06 12:19] balazsgerlei commented on #152
Hi,
Thanks for looking at this issue. Its totally OK if you concentrate on the last issue (problems with changing the primary key), as the other problems seems to be fixed in the latest version.

[2016-06-07 12:42] TimOliver commented on #177
Hi @Allsimon!

Yep! If you go to 'File > Export To > Compressed Realm...', that'll create a compacted copy of your Realm file. :)

[2016-06-07 13:05] TimOliver opened #178 "Accounting for both 'nil' and 'empty' string properties"
While the majority of nullable properties that Realm supports are now covered in the Browser, optional string properties aren't completely covered yet.

Specifically, an optional string could potentially contain some characters (e.g.. `@"Realm"), could be `nil`, or most importantly, could *not* be `nil`, but also *not* contain any characters (e.g. `@""`).

As there may easily be certain use cases

[2016-06-08 05:05] TimOliver commented on #86
This was added in a relatively recent PR. It should already be in the latest public build of the Browser at this point! :)

[2016-06-08 05:05] #86 closed

[2016-06-08 05:15] TimOliver commented on #111
I'm just doing some spring cleaning on these older issues. Thanks for clarifying the behaviour @ReDetection!

@sprint84 If you have any further queries, please feel free to either re-open this issue and follow-up, or start a new issue. Thanks! :)

[2016-06-08 05:15] #111 closed

[2016-06-08 05:33] TimOliver commented on #148
Hi guys!

Actually, those ones are always greyed out. The idea there is that those particular menu items are just titles pointing to specific developer locations, and selectable Realm files in those locations appear underneath (i.e., just like Untitled.realm in that picture).

What were you expecting them to do if you clicked on one? While I think the original idea was to be able to open just Real

[2016-06-08 06:39] TimOliver commented on #34
Hi @basememara!

Thanks for the feedback! The importing/exporting components of the Browser are actually maintained in a separate project named the [Realm Converter](https://github.com/realm/realm-cocoa-converter).

The converter is still heavily under construction (Each format is at varying levels right now), so if there's any particular feature/fix you'd like, please file them as issues over in

[2016-06-08 06:59] TimOliver commented on #160
Hi @KMKRN!

I just had a quick look. That particular plugin in that screenshot that opened the Realm Browser was [a third party one](https://github.com/kittinunf/RealmBrowser-Plugin), not maintained by Realm.

The developer seems to have since deprecated that plugin (Explaining why it stopped working in Xcode.) in favour of the features they directly contributed to the Realm plugin, but it looks l

[2016-06-08 06:59] #160 closed

[2016-06-08 07:00] #73 closed

[2016-06-08 07:01] #72 closed

[2016-06-08 07:06] TimOliver commented on #87
I'm going through some of the old Browser issues marked as pending and doing some spring cleaning. :)

Now that we've hit 1.0, and the 'optional upgrade' mechanism has been integrated for a while, does anyone think it would still be necessary to add an additional 'open as read only' mode for non-upgraded Realm files?

[2016-06-08 07:10] TimOliver commented on #106
Just doing some spring cleaning here. :)

Was the cause of the crash ever determined? We've gone through a few new versions of Realm since then, so I'm hoping this issue was ultimately cleaned up after this.

[2016-06-08 07:11] #154 closed

[2016-06-08 07:15] TimOliver commented on #168
Hi @Zuba1703! Just following up on this issue; were you able to get it working in the end?

[2016-06-08 07:49] kneth commented on #87
Sounds like it is safe to close the issue

[2016-06-10 16:25] douglasjunior commented on #154
I have same problem with Realm Android 1.0.0 and Realm Browser 0.98.6. The problems are random.

[2016-06-10 16:27] jpsim commented on #154
Realm Java 1.0.0 uses a different version of the Realm file format than Realm Browser 0.98.6. Please use the latest version of Realm Browser (0.103.2 as of this writing).

[2016-06-10 23:24] TimOliver opened #179 "Exporting Compacted Realm Failing"
At present, attempting to export a compressed Realm from the Browser will fail with an error message stating the Realm was accessed from an incorrect thread.

[2016-06-12 18:19] ankitbabbar89 opened #180 "[Always]Export to CSV crashing"
While exporting realm file to CSV, it is crashing.Check attached crash dump.
Tried with latest 0.103.2 version too. Same crash.
[realm_crash.txt](https://github.com/realm/realm-browser-osx/files/310904/realm_crash.txt)

[2016-06-14 13:52] stel commented on #180
Thanks for reporting this @ankitbabbar89! I was able to reproduce this also, so we will try to fix it.

[2016-06-14 13:59] stel commented on #148
Another suggestion might be to make a submenu for each location and/or hide this items if there are no Realm files found in specific location.

[2016-06-14 14:02] stel commented on #177
@Allsimon could we close this issue?

[2016-06-14 14:14] douglasjunior opened #181 "Showing 'nil' for String @PrimaryKey"
- Realm Browser 0.103.2 (76)
- Android 23 with Realm 1.0.0

I created a small algorithm to generate incremental ID in my apps, but I'm having a problem. My Realm Browser is showing `nil` for a column that is `String` and `@PrimaryKey`.

![captura de tela 2016-06-14 as 11 03 45](https://cloud.githubusercontent.com/assets/1512341/16045690/f5030226-321f-11e6-852b-2648a20292f9.png)

If print the recor

[2016-06-14 14:34] ankitbabbar89 opened #182 "Back Navigation not working properly"
Consider the attached image.
It has a Merchant Object which contains RealmList of Tag objects.
On opening the database, If I click on Tag object in merchant row, it will open Tag Class view.
On clicking back at top left corner of browser, it takes back to merchant row.
Click on Tag again. Tag class view opens, On pressing back it doesn't take back to Merchant View.
When you have navigated a lot, t

[2016-06-14 18:11] Allsimon commented on #177
Sure, I don't know how I could have missed this option: thanks !

[2016-06-14 18:12] #177 closed

[2016-06-15 10:53] stel commented on #180
Looks like it's a RealmConverter issue, https://github.com/realm/realm-cocoa-converter/issues/12 should fix this.

[2016-06-15 17:30] bibicfilip opened #183 "Crashing when importing xlsx (950 rows and 2 columns)"
It works fine with xlsx that has approx. 150 rows but when I try to import bigger one it crashes. I need this done asap. What should I do?

[2016-06-16 03:03] wmfgithub commented on #87
'default' is at an older file format version and must be upgraded before it can be opened. Would you like to proceed?  the detail description is ' If the file is upgraded, it will no longer be compatible with older versions of Realm. File format upgrades are permanent and cannot be undone'.

[2016-06-16 09:29] stel commented on #183
@bibicfilip could you please provide more info? Crash log, any steps to reproduce this crash?

[2016-06-16 09:31] bibicfilip commented on #183
Just try to import [https://www.sendspace.com/file/i2joni](url) and you will see

[2016-06-16 10:46] stel commented on #183
Your table has 2 extra empty columns, could you try to remove them?

Anyway looks like this is a bug in RealmConverter, it should handle empty columns properly.

[2016-06-16 10:48] bibicfilip commented on #183
I will try, thanks. Anyway, I will switch to another database till this is fixed.

[2016-06-17 19:00] TimOliver commented on #87
Hi @wmfgithub!

Yes, that's correct. When an older Realm file is opened in the Browser, it needs to be updated to the latest Realm file format before it can be edited. This thread was discussing whether we needed an alternative option to open files in a read-only mode without performing the upgrade, but we've decided not to do that for the time being. :)

[2016-06-17 19:00] #87 closed

[2016-06-17 20:31] TimOliver commented on #181
Hi @douglasjunior! That's a really strange error. Sorry you're having an issue with the Browser.
Can you please attach that Realm file you've created to this issue so I can try examining it?
Thanks a lot!

[2016-06-17 20:35] TimOliver commented on #183
Just in case that link expires, I'll add a local copy here.

[dict.xlsx](https://github.com/realm/realm-browser-osx/files/321239/dict.xlsx)

Thanks for reporting this issue to us @bibicfilip!

[2016-06-17 20:43] douglasjunior commented on #181
The following file.

https://1drv.ms/u/s!AlSIfFFmI0BJgbdocwh2Fxs2MjJNHA

If I'm not mistaken, I did not have these problems in older versions.

[2016-06-17 21:13] TimOliver commented on #181
Thanks a lot for that! Just to make sure that file isn't lost if the link expires, I'll mirror it here too.

[saframaxPedidosMobile.realm.zip](https://github.com/realm/realm-browser-osx/files/321266/saframaxPedidosMobile.realm.zip)

We recently added the ability to display `nil` values in optional property types. It's quite possible this is a specific use case we missed.

[2016-06-18 13:17] douglasjunior commented on #181
I'm happy to help. Please, when you have a beta version tell me to test. 😄

[2016-06-21 10:09] tstanik commented on #148
Yes, I was expecting the locations to open in Finder. Also, I don't see any realms under iPhone Simulator, while I can still open them using `Open Realm...` button from the XCode plugin.

[2016-06-23 16:17] TimOliver commented on #182
Hi @ankitbabbar89!

Thanks a lot for the issue! We've had a few reports about the navigation stack sometimes failing, but we haven't really had any good test data in which to test against. Would you be willing to provide us with that Realm file for us to test?

We're also considering alternative ways to display object relations. If you have any ideas about that yourself, we'd be interested to hear

[2016-06-23 18:10] ankitbabbar89 commented on #182
Sure Tim. Find the realm file attached.
[data.realm.zip](https://github.com/realm/realm-browser-osx/files/330544/data.realm.zip)

Also, another problem I forgot to mention related to navigation was, the model object should also get highlighted as per current class. ex: If I open the realm file, by default it will be first object(my case: Merchant). On clicking on Tag, the left column highlighting

[2016-06-28 19:52] jeffjvick commented on #83
Having the same issues.  Using Realm Browser 0.103.1 and RealmSwift 1.0.1 with xcode 7.3.1, swift 2.2 and the iPhone 6s simulator with ios 9.3 (this should be the 64 bit one).

I use (lldb) po Realm.Configuration.defaultConfiguration.fileURL to find the file and then open it in the terminal to open it in Realm Browser.  I can see my data fine but then if I run my application again and data changes

[2016-06-28 20:47] jeffjvick opened #185 "Duplicate entries for models without primary key not listed"
I have a model without a primary key so it can have multiple rows with the exact same data.  For instance:

Class: Person

Name, Age
John, 15
John, 15
Paul, 11
Paul, 11

However in Realm browser it seems to not display duplicates in the listings for a model.  Like so:
John, 15
Paul, 11

The total count is correct (4 in this case) but it appears the duplicates are removed.  While this may be a conn

[2016-06-29 03:55] TimOliver commented on #83
Thanks for the report @jeffjvick!

Hmm, I'm trying the same thing in one of my own personal apps also using Realm and I can't seem to replicate it.

Here's the steps I'm following:

1. Run the app in the iOS Simulator, using the iPhone 6s / iOS 9.3 profile
2. Using [SimPholders](https://simpholders.com), locate the app container folder and open the `.realm` file directly in the Browser 0.103.1.
3.

[2016-06-29 21:17] jeffjvick commented on #83
Tim,

Hi, thanks for the quick reply and looking into this.  I dug into this more and I think I figured out the issue but I don't see why you aren't seeing it too.   It looks like it's no that this specific log_access file is going away, it's that the UUID of the directory in the Application folder is being changed on subsequent runs of my application.  Basically this part in bold is changing:

/U

[2016-06-30 09:36] stel commented on #185
Thanks for reporting this issue to us!

This definitely don't look like as a "feature", but unfortunately I wasn't able to reproduce it.

Could you please send us an example Realm file to coproduce this? Thanks!

[2016-06-30 22:15] jeffjvick commented on #185
Sure thing, may take a few days to get time to make an example I can share as the realm I saw this on contains personal user data that I can't share.

It's also possible I'm doing something wrong but either way I would be good to see why I'm seeing this.

[2016-07-04 09:43] stel commented on #185
Thanks, @jeffjvick! You can send us your realm file to help@realm.io also.

[2016-07-04 10:22] stel commented on #168
Closing this for now because of inactivity.

[2016-07-04 10:22] #168 closed

[2016-07-08 09:03] jniemin opened #187 "Browser crashes if trying to open encrypted realm while app is running"
I'm running react-native project and if I try to access encrypted Realm with browser, the browser just crash before asking encryption key. Realm without encryption opens correctly while running app. If I stop my app and then connect to encrypted Realm and start the app again it works correctly. So only breaks if trying to open the encrypted Realm while app is running

[2016-07-12 09:10] stel commented on #187
Thanks for reporting this issue, @jniemin! I was also able to reproduce it. Encrypted realms can only be opened in one process at a time, so there is no way to open realm in Browser while your app is running (@tgoyne, am I right?).

But there should be an error message instead of a crash, so we will try to fix this.

[2016-07-15 09:55] dunkeyike opened #188 "Crash when Export to cvs"
Process:               Realm Browser [10584]
Path:                  /Applications/Realm Browser.app/Contents/MacOS/Realm Browser
Identifier:            io.realm.realmbrowser
Version:               0.103.1 (75)
App Item ID:           1007457278
App External ID:       817480871
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           Realm Browser [10584]
User ID:

[2016-07-15 09:57] dunkeyike commented on #188
realm file with 3 table (count : 2858, 6577, 59164)
file size is 4.2 mb

[2016-07-15 09:59] dunkeyike commented on #188
Realm Browser 0.103.2 is also crash

[2016-07-15 10:00] #188 closed

[2016-07-20 21:51] astigsen opened #189 "Table header truncated on first view"
![browser_truncated_header](https://cloud.githubusercontent.com/assets/69422/17202743/0431dc0c-5450-11e6-84f1-13f16c715e2e.png)

When the browser first opens a Realm, the header (with the property names and types) is truncated so you can hardly read the type names. It corrects itself as soon as you start using it.

[2016-07-20 21:52] astigsen opened #190 "No row numbers in gutter when looking at lists"
![browser_missing_row_numbers](https://cloud.githubusercontent.com/assets/69422/17202760/244d530e-5450-11e6-8dee-b47c0308cac7.png)

When looking at ordered lists, the gutter is empty. It should contain the row numbers.

[2016-07-20 21:56] astigsen opened #191 "In list mode, clicking the model sidebar is broken"
When you click a link to to list within an object, and the browser goes into it to display its contents in list mode, the Model of the original type (the one that contained the list) stays selected in the sidebar. This may be fine, but clicking on it has no effect. So there is no way to go back to the original list of objects (other than clicking the back button).

[2016-07-20 21:58] astigsen opened #192 "When properties contain multiline text, the edit field should expand"
Right now it is really hard to edit properties with multiline text. It would be great if the edit field could expand when it detects newlines in the text.

[2016-07-21 14:35] alazier commented on #34
What is the timeline for building this? There have been a few react-native users asking for JSON import support.

[2016-07-21 18:18] jpsim commented on #34
A primitive version of this should be super easy to build, I don't know why it's been pushed off for so long. I'm assigning myself to this.

[2016-07-21 22:47] jpsim commented on #34
a json importer was added in realm/realm-cocoa-converter#16. we can keep this open until an exporter is also added, and of course, until these are integrated into the browser.

[2016-07-24 08:52] jpsanabria commented on #130
I'm also having this issue.. Downloaded from Mac Store

[2016-07-25 11:01] #148 closed

[2016-08-01 07:49] stel commented on #185
@jeffjvick Are you still experiencing this issue? If so, could you please provide an example Realm file or any code sample to reproduce this? Thanks!

[2016-08-09 08:27] stel commented on #185
Will close this issue for now as it still isn't reproduced. @jeffjvick please feel free to reopen it if you have a chance to send us more info!

[2016-08-09 08:27] #185 closed

[2016-08-09 18:19] EauSauvage commented on #59
Hi,
on my machine, all the sub menu items in "Open Common Location" are always grayed out, so I can't open the files on the simulator at all.
Realm Browser: 0.103.1 (75)

Realm version: ?

1.0.0

Xcode version: ?

7.3

[2016-08-09 18:31] vonox7 commented on #187
Opening an encrypted realm in two processes would be a real improvement! I had to switch back to unencrypted realms because of this issue.

[2016-08-11 07:50] kneth opened #193 "Loading multiple CSV files"
When exporting a SQL database, you might get one CSV file per table. Therefore it would be nice to be able to load multiple CSV files into the browser.

See also https://github.com/realm/realm-java/issues/3270

[2016-08-12 15:25] jpsim opened #194 "Allow representing inverse relationships"
Inverse relationships aren't persisted in Realm files, but rather set up at runtime.

Some users have requested the ability to visualize those in the browser nonetheless.

One way this could be done is by exposing a user interface in the browser that would allow defining inverse relationships that would be rendered in the object's data as an additional property column.

[2016-08-17 18:51] Svoka commented on #183
Just tried to create Demo DB, export it as CVS and it CRASHED :(

Why I try to IMPORT it's just silently fail.
I don't think it's works at all

[2016-08-18 13:50] stel commented on #189
Doesn't reproduce in the latest version.

[2016-08-18 13:50] #189 closed

[2016-08-22 08:34] #193 closed

[2016-08-23 23:04] pixelchef opened #196 "Update browser icon"
Should this icon be updated to the new branding?

[2016-08-26 13:13] yushuyi opened #197 "Realm 数据库 存放 在 App Group 目录里面，插件提示无法找到"

[2016-08-30 08:41] stel commented on #197
Thanks for reporting this issue, @yushuyi!

Could you please provide some steps to reproduce it?

[2016-09-03 20:59] ZakTaccardi opened #198 "Incorrect column data shown when field name is "description""
In my RealmModel `RealmCartProduct`, I have a field `String description`. Because of a bug with the name "description", the whole JSON of the `RealmCartProduct` is displayed in the field, instead of the correct value.

<img width="229" alt="actual" src="https://cloud.githubusercontent.com/assets/461114/18227585/6d22bd48-71f7-11e6-90d1-786ef65a257c.png">

When I renamed the `description` field to `

[2016-09-05 08:55] stel commented on #198
Thanks for reporting this issue, @ZakTaccardi!

It seems to me that `description` of `NSObjectProtocol` is used instead of `RLMObject`'s one, probably here: https://github.com/realm/realm-browser-osx/blob/master/RealmBrowser/Controllers/RLMInstanceTableViewController.m#L310

[2016-09-06 12:57] webmagnets commented on #180
I'm having this issue too. Would someone be able to successfully export this for me?

https://www.dropbox.com/s/ku140eg6jcenic2/default%20after%20traditional.realm

Unfortunately this is the only place I have this version of the data.

[2016-09-08 10:05] tonyganch opened #199 "Line breaks in string fields"
Hi,
Thank you a lot for the application.

Is there a way to modify a string field to insert line break (new line)?
I tried typing `\n`, but it is then treated by swift as two characters `\` and `n` and not line break.

Related SO question: http://stackoverflow.com/questions/36388403/realm-how-to-use-line-breaks-in-database-string-entry/36410217

[2016-09-08 18:12] chien commented on #180
We're experiencing the crashes when exporting tables to csv files.

Version: 1.0.2

Crash logs: [https://dl.dropboxusercontent.com/u/18823852/realm_issue/crash_log.txt](url)
Database file: [https://dl.dropboxusercontent.com/u/18823852/realm_issue/1473346446.41202.realm](url)

To reproduce the problem, export "Product" table in the realm file.

[2016-09-08 18:20] chien commented on #180
We created a bounty for this issue as a token of appreciation for whoever could fix this issue.

[https://www.bountysource.com/issues/35094529-always-export-to-csv-crashing](url)

[2016-09-10 03:45] webmagnets commented on #180
The link above isn't working. Try this one:
[https://www.bountysource.com/issues/35094529-always-export-to-csv-crashing](https://www.bountysource.com/issues/35094529-always-export-to-csv-crashing)

[2016-09-10 03:45] webmagnets commented on #179
I see this issue also.

[2016-09-13 06:40] bmunkholm commented on #199
Answered in above SO.

[2016-09-13 13:41] tonyganch commented on #199
The answer at SO tells you how to store new line from Swift code but not from Realm Browser.
My question is how to insert "\n" as line break from browser application.

Comment from SO which is left unanswered:

I would like to know how to do that.
Please reopen?

[2016-09-16 21:57] tcombs commented on #198
I just ran into this in my android app. Is this a problem with only realm browser or is the data being persisted in this weird state in my android app?

[2016-09-16 22:06] ZakTaccardi commented on #198
Just a problem with the Realm browser. Your app is fine

On Fri, Sep 16, 2016, 5:57 PM Tyler Combs <notifications@github.com> wrote:

[2016-09-19 07:05] bmunkholm commented on #197
@yushuyi We can't get anywhere with this unfortunately. I'm going to close this until you can give us a more detailed error report.
Thanks

[2016-09-19 07:05] #197 closed

[2016-09-21 09:49] stel commented on #196
@pixelchef the icon was updated in https://github.com/realm/realm-browser-osx/pull/176

[2016-09-21 13:47] PanMluvci opened #201 "Import from: Csv/ XLSX don't work?"
Hi, i am trying to import and then save it as .realm file with csv / xlsx. But when i select file to import it.. nothing happen. I tried it on MBP 15 2013 + MB 12 2015.

[2016-09-21 13:57] #201 closed

[2016-09-21 13:57] TimOliver commented on #196
Yep! It's already done! :)

[2016-09-21 13:57] #196 closed

[2016-09-21 16:12] #180 closed

[2016-09-21 16:16] stel commented on #180
@webmagnets, @chien could you please try to build the Browser from `master` branch and check if that bug still exists? Fee to reopen this issue.

[2016-09-24 19:08] numerics commented on #179
I get this every time I go to 'Export to' -> 'Compressed Realm...'
It will ask for a name, go thru the DB... and then report this error... and never creates the new compressed Relm DB.

[2016-09-26 16:28] soulxenix opened #202 "realm browser can set relation?"
if i define class of realm
i can set object relation

ex)class locationcode{
var locationcodeid:string
var locationcodename:string
}

class people
{
var name:String
var location:locationcode  <-- this is linking object
}
but realm browser only import or export data from csv or xlsx?
if i  insert data to realm file by realm browser
how can i join query?

[2016-09-27 12:38] #35 closed

[2016-09-27 13:09] unidaysgraham commented on #30
@jpsim does this mean that this is now implemented in that commit you posted? If so when will this be available?

[2016-09-27 13:10] jpsim commented on #30
No this was accidentally closed. I just reopened it.

[2016-09-28 05:40] chrisamanse opened #204 "Realm Browser 2.0.0 Opening Encrypted Realms"
1. Open encrypted Realms
2. Expected Results

  After entering key, data should be visible.

3. Actual results

  After entering key, Realm Browser shows no data and models

4. Steps to reproduce

  1. Create encrypted Realm using Realm.Configuration.
  2. Open Realm in Realm Browser, enter key

5. Attached Realm files

  [Realm Types.zip](https://github.com/realm/realm-browser-osx/files/497202/Re

[2016-09-28 14:04] stel commented on #204
Thanks for reporting this issue, @chrisamanse! #206 should fix it.

[2016-09-28 23:17] LPFinch commented on #204
@stel can you build new version with fix #206???
I think it's critical bug, older version doesn't work with Realm 2.0.
P.S. Заранее спасибо =)

[2016-09-29 00:00] #204 closed

[2016-09-30 19:55] jungyang opened #207 "Cannot see encrypted data in 2.0.0"
I just upgraded Realm browser as well as my app's realm-java to 2.0.0.
After the upgrade, I cannot see anything in the browser if my database is encrypted. I can open the file after entering the key but no table is displayed. I was able to see them in the previous version.
If I don't encrypt the database, then everything is displaying fine.

[2016-10-02 12:39] ialex90 commented on #198
I got this problem as well working from my Android App, but it seems to be a problem with the realm browser itself and not with the way the data is structured. As we have P1 label for this issue, that's gonna disappear soon I'd say. This is my error if it helps to give more info:
https://github.com/realm/realm-java/issues/3544

[2016-10-03 06:57] biftekman commented on #207
Same problem here.
Anything new here?

[2016-10-03 08:01] stel commented on #207
Sorry for that issue, it's fixed in https://github.com/realm/realm-browser-osx/pull/206 and binaries will be released soon.

[2016-10-03 08:01] #207 closed

[2016-10-03 08:03] stel commented on #202
@soulxenix are you trying to import some data with relationships from CSV or XLSX? Unfortunately Realm Browser doesn't support that at this time :(

[2016-10-03 09:36] biftekman opened #208 "Encryption key prompt option to remember it"
When opening an encrypted Realm file, it would be very convenient if Realm Browser had an option to "remember encryption key".

Currently I open multiple realm files regularly, which use the same key. I have the text file with a key open somewhere else from where I have to copy it to Realm Browser every single time, which makes a process rather annoying.

[2016-10-03 20:25] TimOliver commented on #208
Hi @biftekman! That's an excellent idea! We'll add it to the list! Thanks for that! :)

[2016-10-04 13:06] stel opened #210 "Data from CSV/XLSX is always imported as String properties"
Even if the column in CSV file contains only integers it will be imported as `String` property.

[2016-10-04 15:20] PanMluvci commented on #210
+1 for fixing this. I had a hard time with realm browser convert from files .xlsx or .csv to .realm. Now i cannot perform even .max() or operators > < because its string :-/

[2016-10-04 17:02] brynjar opened #211 "For list properties, number of records indicator is cut off after 2 digits"
I have a list property, e.g.

`var children: List<TagV2> = List()`

if this list contains > 99 objects, then the count display in the browser app seems to cut off the number after 2 digits, so I can't see how many objects I have.

![screen shot 2016-10-04 at 19 00 56](https://cloud.githubusercontent.com/assets/465908/19084014/fb087b72-8a64-11e6-9a1a-383b08e30adf.png)

[2016-10-04 17:09] TimOliver commented on #211
Thanks for the bug report @brynjar! Can you please tell us which version of macOS you're on there?

[2016-10-05 07:20] brynjar commented on #211
10.11.6 Browser v.1.0.2

[2016-10-05 09:30] stel commented on #210
`RealmConverter`'s issue https://github.com/realm/realm-cocoa-converter/issues/26

[2016-10-05 11:42] stel commented on #106
Closing this, should be fixed somewhere in Core according to related issues.

[2016-10-05 11:42] #106 closed

[2016-10-05 17:40] #179 closed

[2016-10-06 10:15] #181 closed

[2016-10-06 10:16] #190 closed

[2016-10-06 17:22] jpsim opened #217 "Use change notifications"
At the moment, we just refresh all windows every time any of their Realms is updated. See https://github.com/realm/realm-browser-osx/pull/215#issuecomment-251753217

[2016-10-07 14:23] #130 closed

[2016-10-10 11:08] mrackwitz opened #219 "Accept credentials in the URL"
It could be very helpful in development, e.g. when ad-hoc bootstrapping a sync server and creating test users, if I could provide an access token directly in the URL. That would allow it to open the synced Realm with a single click.

This could be limited to only allow access tokens as in `realms://<ACCESS_TOKEN>@localhost:12345/~/test`.

[2016-10-10 12:24] stel commented on #219
I like this idea!

But the issue is that it's not possible to use access tokens with `~` paths. We would also use URLs like `realms://<USERNAME>:<PASSWORD>@localhost:12345/~/test` instead, but it means that we can't use access token in this case as it also contains `:`.

[2016-10-10 12:32] stel opened #220 "More detailed error description if failed open the realm file"
There are some cases when there is no error description if realm file could be opened. Some of this cases are related to that fact that server error reason is not propagated from the auth API, but at least in other cases it should be handled.

refs https://github.com/realm/realm-cocoa/issues/4171

[2016-10-10 18:59] astigsen commented on #219
Why can't we use tokens with `~` paths? The token maps to a user, so the should have the userid. Do we need a roundtrip to the Auth server to resolve it?

[2016-10-11 06:07] #202 closed

[2016-10-11 09:13] mrackwitz commented on #219
We could indeed rely on that, while so far the auth server is the only responsible for resolving paths. It might be a good idea to keep it that way.

That my example used the tilde in the path was admittedly rather an oversight instead an intentional request. I think initially it would be already vastly helpful, if that works exclusively with expanded paths.

I've considered support for username a

[2016-10-11 09:47] stel opened #221 "Add crash reporting"
We've already discussed this, just want to track it in this repo.

I still suggest to use HockeyApp for both AppStore and non-AppStore builds, if everyone is ok with this I can integrate it this week.

/cc @jpsim, @TimOliver

[2016-10-11 10:57] #191 closed

[2016-10-11 11:27] stel opened #222 "Automatically update non-AppStore builds"
We can use [Sparkle](https://sparkle-project.org) for this and HockeyApp after #221 is implemented, the only thing to keep in mind is that Sparkle doesn't support sandboxing, so we will have to have two different targets in Xcode project to build MAS and non-MAS versions separately and disable sandboxing for non-MAS distribution.

[2016-10-11 17:58] jpsim commented on #221
Using HockeyApp seems fine to me.

[2016-10-13 09:14] #221 closed

[2016-10-13 19:14] tonyganch commented on #199
ping

[2016-10-14 13:27] stel commented on #83
I was able to reproduce this crash with 0.103.1 too, but 2.0.1 seems to work fine for me, so it means that something related was fixed in core.

I'm closing this issue, please reopen it if this crash still exists for you on 2.0+.

[2016-10-14 13:27] #83 closed

[2016-10-14 13:53] stel commented on #71
I wasn't able to reproduce this issue with 2.0.2, inserted 5K records – file size is 360Kb. @TimOliver if you have a chance, could you check this one more time?

[2016-10-17 18:03] stel commented on #199
@tonyganch sorry for misunderstanding, it seems it's a bug, I'm not even able to insert a newline character from the external text editor

[2016-10-19 13:27] dev-vinoth commented on #83
My Realm browser is always crashed after I have modified the object. I was re-installed the app still I could't open the browser.
 Help me to fix this ASAP.

Process:               Realm Browser [3434]
Path:                  /Applications/Realm Browser.app/Contents/MacOS/Realm Browser
Identifier:            io.realm.realmbrowser
Version:               2.0.1 (79)
App Item ID:           1007457278
A

[2016-10-19 13:38] stel commented on #83
@dev-vinoth I'm sorry that you experiencing this crash.

According to the crash log you're trying to open sync realm URL, did you reset Realm Object Server when that realm URL was opened? If this issue happens after Realm Object Server reset I recommend you to close Realm Browser before you resetting the server (it's a known issue and will be fixed in future updates). If doesn't, please consider t

[2016-10-20 20:45] fadylateef opened #226 "Importing from CSV file gives Int column instead of String with repeated "0" value !"
After importing .csv database into realm browser and opening the  `default.realm` file
it gives repeated zero values in `Int` column which is supposed to be `String` column with different text .

<img width="99" alt="screen shot 2016-10-20 at 10 44 44 pm" src="https://cloud.githubusercontent.com/assets/17549441/19577264/d2fbec0e-9716-11e6-8557-9fa152997df8.png">

[2016-10-21 12:01] stel commented on #226
@fadylateef thank you for reporting this! Could you please provide an example realm file to reproduce this issue?

There were also made some related fixes in [RealmConverter](https://github.com/realm/realm-cocoa-converter) that is used for importing CSV files, hope it fixes this issue as well.

[2016-10-23 01:53] jkahn117 opened #228 "Realm Browser crashes on open"
Just started working with Realm and on writing data, wanted to confirm via Realm Browser.  Tried installing via both Homebrew and App Store methods, but always get the following crash:

[code]

I have tried launching the app by clicking on the .realm file as well as by launching the application directly.

[2016-10-23 01:57] jkahn117 commented on #228
I was able to correct the issue by:

1. Uninstall Realm Browser
2. Delete `/Users/jkahn/Library/Containers/io.realm.realmbrowser`
3. Install Realm Browser

Was able to open a file, will report back if I run into further issues.

[2016-10-24 21:58] cliftonlabrum commented on #228
I find this also occurs if a remote instance of a realm (when using the Realm Object Server) has a different schema than a local one. This can happen if the realm isn't migrated properly.

[2016-10-24 22:08] cliftonlabrum opened #229 "Feature Request: More Robust Realm Listing"
When you connect to a Realm Object Server, you are presented with a list of recently accessed realms like this:
![image](https://cloud.githubusercontent.com/assets/2513753/19665622/bef74d84-99fa-11e6-8565-f3d9397d8e68.png)

This particular area has huge potential for making the Realm Browser more useful.

While the Realm Browser is a handy development tool, I think it has the potential to be an in

[2016-10-26 13:15] stel commented on #229
Thank you very much for this suggestions, @cliftonlabrum!

BTW you should be able to export user's Realms locally for debugging by exporting it as Compacted Realms (File -> Export to -> Compressed Realm...), but unfortunately there is an issue with that right now :( It has already beed fixed in https://github.com/realm/realm-browser-osx/pull/230.

[2016-10-26 13:54] stel commented on #228
Thanks for reporting this issue! What version of Realm Browser and Realm Object Server do you use? Could you also provide a full stack trace or attach a crash log file? It will help us investigate this bug.

[2016-11-01 05:16] dev-vinoth commented on #83
Hai,

First off all thanks for the reply and sorry for the delay.

The issue was fixed,

Solution : Cleared all the files related to the Realm browser and I have
reinstall the browser.

Thank you,

---
Vinoth M

On Wed, Oct 19, 2016 at 7:08 PM, Dmitry Obukhov <notifications@github.com>
wrote:

[2016-11-02 08:15] kohdesmond commented on #31
+1

[2016-11-02 21:31] brackendev opened #232 "Crash on open: KeychainAccessException"
macOS: 10.12.1
Realm Browser: 2.0.1

I started using Realm again and get a crash opening the Realm Browser.

terminating with uncaught exception of type realm::keychain::KeychainAccessException: Keychain returned unexpected status code: -60005
abort() called

Also, I removed the application, ran `rm -rf ~/Library/Containers/io.realm.realmbrowser/`, and reinstalled from the App Store and downloaded

[2016-11-02 21:50] brackendev commented on #232
I solved this.

My `~/Library/Keychains` was symlinked to another location. Moving `Keychains` back into `Library` fixed this issue.

[2016-11-02 21:50] #232 closed

[2016-11-07 10:15] morten-krogh opened #233 "Browser crash"
I have had the browser open for a several days. I did not use it actively. Suddenly it
reported an internal error.

The browser is version 2.0.1

The stack trace is below.

Exception Name: NSInvalidArgumentException
Description: -[_MDItem valueForAttribute:]: unrecognized selector sent to instance 0x618000030d80
User Info: (null)

0 CoreFoundation 0x00007fffbe4977bb __exceptionPreprocess + 171
1 l

[2016-11-08 09:43] stel commented on #226
Hopefully it's fixed in the latest version of RealmConverter. @fadylateef please feel free to reopen this issue if you have this problem in future versions of Browser.

[2016-11-08 09:43] #226 closed

[2016-11-09 15:33] jkahn117 commented on #228
Since taking the corrective action noted below, I have been unable to reproduce the issue (though I did submit the stack track via the Apple Bug Reporter when the application crashed).

Using Realm Browser 2.0.0.

[2016-11-10 21:26] raudabaugh opened #234 "When opening a ROS-synced realm, can't see new models in schema"
Hi,

I have just added a few model classes to my iOS app and they sync perfectly between devices. However, connecting to the Object Server and viewing the realm still displays the old schema.

Is there a way to tell Realm Browser to get the newest schema version?

I'm on Browser 2.0.1 / El Cap 10.11.6. Thank you!

[2016-11-11 16:22] raudabaugh commented on #234
Yes, all data entered in the Browser for the old models seems to sync to all devices correctly. I have not seen any errors or warnings in the server log, or the client app log.

[2016-11-15 22:14] jpmcglone opened #235 "Can't open Realm Browser"
It just crashes everytime. Tried uninstalling / reinstalling too. :(

Process:               Realm Browser [24341]
Path:                  /Applications/Realm Browser.app/Contents/MacOS/Realm Browser
Identifier:            io.realm.realmbrowser
Version:               2.0.1 (79)
App Item ID:           1007457278
App External ID:       819197136
Code Type:             X86-64 (Native)
Parent Process:

[2016-11-15 22:24] jpmcglone commented on #235
Nvm `rm -rf io.realm.object-server-metadata/` seems to fix it

[2016-11-15 22:25] #235 closed

[2016-11-21 09:27] stel commented on #234
@raudabaugh thank for that info, we'll try to reproduce and fix this issue, for now try to remove `~/Library/Containers/io.realm.realmbrowser` folder (this will reset everything to a default state) and restart Browser.

[2016-11-21 22:29] raudabaugh commented on #234
Unfortunately I still don't see the new models after removing that folder.

[2016-11-22 20:18] Wiingaard opened #237 "Could not open default.realm"
Hello there..

I'm running into this alert when I try to open a realm-file from the iOS-simuletors Documents folder.
<img width="532" alt="skaermbillede 2016-11-22 kl 21 01 21" src="https://cloud.githubusercontent.com/assets/8324312/20539894/1cef725a-b0f7-11e6-9080-22984a08b550.png">

I find the path to the realm file like this:
`print("Realm path: \(Realm.Configuration.defaultConfiguration.fileUR

[2016-11-23 02:17] TimOliver commented on #237
Hi @Wiingaard!

I just tried downloading and opening your file there and it worked fine!

![screen shot 2016-11-22 at 6 12 10 pm](https://cloud.githubusercontent.com/assets/429119/20549239/64e73f7e-b0df-11e6-9514-49c7fab08573.png)

I used Realm Browser 2.0.1 from the App Store. How were you opening them exactly? Were you clicking 'Allow' on the sandboxing dialog when it opened?

[2016-11-23 21:45] chien commented on #237
@TimOliver

We're having the similar problem here with this [file](https://dl.dropboxusercontent.com/u/18823852/1479915583.53501.realm)

Any suggestion?

[2016-11-23 22:28] Wiingaard commented on #237
Okay, Nice @TimOliver.. Weird that you can open the file. I have done further discoveries in this issue. The problem (for me, at least) seems to be tied to what simulator I'm running on.
When I use:
- iPhone 5 (10.1): I see the problem, as descriped above
- iPhone 7 (10.1): No problem, I can open the .realm as expected
For now I can like with running on iPhone 7, so I won't dig deeper into this is

[2016-11-23 22:47] TimOliver commented on #237
@chien Hi Chien! I just tried opening it in a debug build of the Browser and it looks like Realm Core itself is throwing an exception for it. It MIGHT imply that that file has become damaged somehow. Can you please provide some more information on where and how  you got that file?

@Wiingaard Ohhh okay, I know what's going on then.

iPhone 5 is a 32-bit device (ARMv7s) and the iPhone 7 is a 64-bit

[2016-11-25 12:32] Ryce opened #239 "Realm browser opening file in iOS Simulator Documents directory of App fails"
**Goals**

To open the Realm file in the Realm browser while Simulator is accessing the file. It works when I copy the file on Desktop and execute the realm browser there. I also tried setting permissions to the Folder itself and logged in as root. None of that worked

-- update

I tried using the brew version of Realm Browser (Version 2.0.0). Same issue there

**Expected results**

To open the Re

[2016-11-25 22:59] TimOliver commented on #239
Hey @Ryce! Thanks for the bug report!

Just to confirm, which iOS device was the Simulator set to when you tried to open it in the Browser?

[2016-11-28 09:36] Ryce commented on #239
@TimOliver iPad Retina

[2016-11-28 09:46] bibicfilip commented on #183
Any news on this? @TimOliver

[2016-11-28 18:58] TimOliver commented on #239
@Ryce Okay, thanks for that!

That particular simulator represents the [4th Generation iPad](https://en.wikipedia.org/wiki/IPad_(4th_generation)) which was the final iPad to use a 32-bit SoC as opposed to 64-bit.

Realm isn't able to share access to a Realm file from two processes that represent different architectures. So while it's possible to view the contents of a Realm file in the Browser fro

[2016-11-28 19:04] TimOliver opened #240 "Display contextual error message when Realm fails to open"
A regression seems to have occurred where the description string of an error for a Realm failing to be opened is no longer being displayed.

At the moment, if a Realm fails to open for any reason, only this generic message is supplied:

![screen shot 2016-11-28 at 11 00 46 am](https://cloud.githubusercontent.com/assets/429119/20681800/16e962fa-b55a-11e6-8b6b-e134aca9e8ae.png)

While it seems that

[2016-11-29 09:17] Ryce commented on #239
Hey @TimOliver thanks, I will try with 64 Bit SoC Simulators. Much appreciated for the help

[2016-11-29 13:31] #228 closed

[2016-11-29 14:49] stel commented on #239
Yes, we need to check error messages, there is already and issue for that: https://github.com/realm/realm-browser-osx/issues/220, so will close this for now.

[2016-11-29 14:49] #239 closed

[2016-11-30 00:25] astigsen opened #241 ""Add new object" does not work when table is not selected"
The menu item for "Add new object" is greyed out when the focus is not on the table. This is counterintuitive as the focus when navigating the browser is usually on the sidebar with the list of Models, and there is very little visual distinction between the focus being on the sidebar or on the actual table. So you end up wondering why you cannot add new objects.

It should also be possible to righ

[2016-11-30 10:25] stel commented on #183
@bibicfilip we've made some improvements for CSV import, but not for XLSX yet.

[2016-12-02 13:20] stel commented on #210
Fixed in https://github.com/realm/realm-cocoa-converter/issues/26

[2016-12-02 13:20] #210 closed

[2016-12-02 13:43] stel commented on #59
That was fixed in https://github.com/realm/realm-browser-osx/pull/186.

[2016-12-02 13:43] #59 closed

[2016-12-02 14:16] stel commented on #237
@chien looks like this issue is related to core issue https://github.com/realm/realm-core/issues/2289 which was fixed.

[2016-12-06 00:49] jpsim opened #248 "Editing of primary key properties/columns should be disabled"
Primary keys can't be modified after insertion into the Realm.

[2016-12-06 10:03] #67 closed

[2016-12-06 10:03] #199 closed

[2016-12-06 10:03] #211 closed

[2016-12-06 10:03] #241 closed

[2016-12-06 10:04] #240 closed

[2016-12-06 10:13] stel commented on #248
fixed in #246

[2016-12-06 10:13] #248 closed

[2016-12-06 12:21] stel commented on #237
Closing this issue because it seems resolved.

[2016-12-06 12:21] #237 closed

[2016-12-06 12:26] stel commented on #8
Closing this because it duplicates https://github.com/realm/realm-browser-osx/issues/182 that contains some more info about the issue.

[2016-12-06 12:26] #8 closed

[2016-12-06 22:11] chien commented on #237
@stel thanks. yes, the problem seems to be fixed in realm/realm-core#2289. But unfortunately, there is no way to recover the corrupted db file.

[2016-12-06 22:13] jpsim commented on #237
Correct. Because corruption can happen in all sorts of surprising ways, with different effects, there's no automatic way to "uncorrupt" or repair a corrupted file. It can be done manually though, by people with expertise about the file format's binary representation and a hex editor and lots of patience though, by identifying areas that don't look right and fixing them manually.

[2016-12-09 14:58] eflyjason opened #249 "Copy out selected rows"
Is there any way that I can copy out the data (e.g. string) from selected rows? Thanks! :)

[2016-12-09 15:00] eflyjason commented on #249
For example if I selected these and copy:

<img width="125" alt="screen shot 2016-12-09 at 10 59 27 pm" src="https://cloud.githubusercontent.com/assets/4939421/21053159/2cb54006-be63-11e6-95d0-84e57386883d.png">

And I want to get:

[code]

[2016-12-12 09:05] stel commented on #249
Unfortunately there is no way to do this right now, but it looks like a nice feature!

[2016-12-14 15:16] DanielAsher commented on #45
This would be awesome!

[2016-12-17 00:41] sirvon opened #251 "acceptable csv format for importing..."
What is a acceptable csv format for importing and creating database from file?

[code]

I have a file that looks like the above, with 1000s of more lines
how should I tweak the format to get the data inside a realm db correctly...

correctly meaning able to query by:
device_name,
device_channel_name,
region_code,
site_channel_name

[2016-12-17 18:41] TimothyStulman opened #252 "CSV Import: How to specify Boolean?"
When importing from CSV or Excel, "true" and "false" values are created as String types. How do I specify that they should be Boolean values?

Thanks!

Tim

[2016-12-19 09:26] stel commented on #251
The example you sent seems ok and Browser is able to import it correctly.
![screen shot 2016-12-19 at 10 23 56 am](https://cloud.githubusercontent.com/assets/429275/21307368/79f26ad2-c5d5-11e6-9f0a-5141cb814c2e.png)
Do you have any errors while import?

[2016-12-19 09:33] stel commented on #252
Unfortunately it's not possible right now. I've created https://github.com/realm/realm-cocoa-converter/issues/36 to track this feature.

You can import it as `Int` or `String` property and then convert this property to `bool` manually (e.g. by performing a migration).

[2016-12-19 14:55] colasbd commented on #23
:+1: waiting for this feature.
Otherwise, is it currently possible to access the data fields? (for instance as files)

[2016-12-19 18:09] jpsim commented on #23
Right click and "export to file" for `NSData`/`Data` properties would probably be super easy to build.

Or maybe right click and "quick look" could write to a temporary file and invoke quick look on it.

[2016-12-21 18:39] TimothyStulman commented on #252
Thanks! That's a great idea. I actually ended up using the Cocoapod that reads from CSV to Realm (https://cocoapods.org/?q=realm), but a migration would probably have been easier. I'll do that next time .

[2016-12-27 09:22] stel commented on #252
Awesome! I'm closing this issue because it's tracked in https://github.com/realm/realm-cocoa-converter/issues/36 (and almost ready 😉)

[2016-12-27 09:23] stel commented on #251
@sirvon do you need any other help here or can we close this issue?

[2016-12-28 20:36] jarrodparkes opened #254 "export to CSV produces nothing"
# Goals

Export data from local Realm to a CSV file.

# Expected results

A CSV file is produced at the directory I choose when selecting "File --> Export To --> CSV".

# Actual results

CSV file is not generated.

# Steps to reproduce

- in the menu go to "File --> Export To --> CSV"
- pick somewhere to save the CSV file (ex: Desktop)
- click "Open" to close the dialog
- ^ after following these s

[2017-01-01 10:24] bmunkholm commented on #254
It works for me if I open the Realm Browser, click "Tools->Generate Demo Database" and follow your steps.
Can you replicate that?
What kind of data do you have open in the Realm Browser before you export?

[2017-01-01 16:50] jarrodparkes commented on #254
@bmunkholm I'm also able to successfully export to CSV when I do it with the demo database, so I guess it is an issue with my database? how can I debug that (why it isn't exporting)?

I could also try sharing it, but I'm not sure of the best way?

The schema is as follows:

**Game**
title (string), publisher (string), developer (string), coverImagePath (string), owner (<Rating>)

**Platform**
titl

[2017-01-01 19:08] bmunkholm commented on #254
The CSV-conversion used by the Browser is also OSS and available here: https://github.com/realm/realm-cocoa-converter, so one option is to simply run that in debug mode on you file to see if there is an error that it barks on and doesn't report back to the Browser.

You can also send your realm file to help@realm.io.

[2017-01-01 19:31] jarrodparkes commented on #254
@bmunkholm im having difficulty getting that project to run — it is just a framework, so I'd need to add my own target? like a command-line program or something?

Do you have any advice for getting that project setup?

[2017-01-02 06:58] bmunkholm commented on #254
@jarrodparkes Yeah, this project (the browser) includes it. You can see the Readme on how to compile this.

[2017-01-02 14:48] jarrodparkes commented on #254
@bmunkholm Got it. So yes, I ran the browser in Debug mode and reproduced the error. It throws and `RLMException` when I try to save the database:

[code]

I think it is referring to the Realm `filePath` property. This property was never set during the creation of this Realm, because it was generated with sync configuration. Perhaps that is related to this?

[2017-01-02 19:49] bmunkholm commented on #254
Awesome @jarrodparkes. That sounds like a likely root cause! We will get that fixed.
Thanks for reporting, and even troubleshooting!

[2017-01-02 19:51] jarrodparkes commented on #254
@bmunkholm no problem! let me know how it goes 👍

[2017-01-04 09:54] stel commented on #251
Closing this because of inactivity. @sirvon please feel free to reopen it if you need any help.

[2017-01-04 09:54] #251 closed

[2017-01-04 14:14] stel commented on #254
@jarrodparkes while we're fixing this issue you can export synced Realm as Compacted Realm and then export this local Realm to CSV.

[2017-01-04 14:18] jarrodparkes commented on #254
@stel sounds good. i was planning for a similar workaround in the meantime 👍

[2017-01-04 16:43] #17 closed

[2017-01-06 09:19] #254 closed

[2017-01-06 10:10] sirvon commented on #251
sorry thank you for your assistance. working perfectly.

[2017-01-10 00:21] MihaelIsaev opened #258 "Can't scroll in the models scroll view"
Hello

I can't scroll in the models scroll view on macOS 10.12.1 in Realm Browser v2.1.2, but in 2.1.1 scrolling works perfectly.

[2017-01-10 12:31] anjanibansal opened #259 "Realm browser crashes before opening realm file."
I have been trying to open my Android app's Realm database in the browser but it's not happening. It used to work properly before but now it just "quits unexpectedly" as soon as I open the file.
I have Realm browser 2.1.2 and I'm using Realm 2.2.2 in my project, both of which, i believe, are the latest versions.
I'm using this method to obtain my database file:
http://stackoverflow.com/a/29849902

[2017-01-11 10:32] stel commented on #259
Hi @anjanibansal! Thank you for reporting this! Could you please provide some more info about this crash? Any error messages or even better an example Realm file to reproduce it, thanks!

[2017-01-11 10:34] stel commented on #258
Thanks for reporting this @MihaelIsaev! Will check and fix it ;)

[2017-01-12 10:28] stel opened #260 "Browser keeps showing the deleted users' realms from ROS"
The issue was reported here: https://github.com/realm/realm-mobile-platform/issues/93

[2017-01-16 09:20] revolter opened #261 "Connection to ROS improvements"
I have some questions/feedback about the Realm Object Server connectivity in the Realm Browser app.

1. It would be great if you would be presented with the option to auto connect to a given ROS when you open the app next time(s).
2. Also, from what I saw, if you open a Realm, there's no way for you to go back to the Realms list, and you have to quit and connect again. Or am I missing something?
3

[2017-01-16 20:03] stel commented on #261
Thank you for your feedback and suggestion @revolter!

Option for automatically reconnect looks like a nice feature, we will keep it in mind for future updates (or feel free to send us a PR ;))

You don't need to quit Realm Browser for getting the list of realm on the Realm Object server, you can open it by File -> Connect to Object Server... menu item.

As for reconnection – Realm Browser should

[2017-01-16 20:04] stel commented on #260
This is probably related to https://github.com/realm/realm-browser-osx/issues/234

[2017-01-16 20:06] revolter commented on #261
I might try, but there is the problem of where and how to store the credentials.

But this was to create another connection I guess, as it asks me again for my credentials. Wouldn't it be possible not to close the Realms list window and open the Realm window over it?

Could there be a green/red connection status icon somewhere in the interface to know when it's connected or not?

[2017-01-16 23:09] revolter opened #262 "Open start window on app run"
When you open Realm Browser, the start window doesn't show up. If you click it in the task bar, then it shows up.

[2017-01-17 09:33] stel commented on #262
What version of Realm Browser and macOS do you use? I'm not able to reproduce it with 2.1.2.

[2017-01-17 09:43] stel commented on #261
If you want to persist credentials between app launches then the best place is keychain. Note that Realm already stores the credentials for valid users (see [docs](https://realm.io/docs/swift/2.2.0/api/Extensions/SyncUser.html#/s:ZvE10RealmSwiftCSo11RLMSyncUser3allGVs10DictionarySSS0__)) so probably it's possible to reuse it in some point.

Keeping the window with realms opened is a good idea, we

[2017-01-17 09:49] stel opened #263 "Indication when editing sync realm offline"
Proposed in: https://github.com/realm/realm-browser-osx/issues/261

If the connection was lost while editing remote Realm the changes that had been made offline can potentially be lost if the Browser window is closed before the connection is available again.

In this case we can simply disable editing and show the corresponding warning because in general case it's not possible to guarantee the del

[2017-01-17 10:14] revolter commented on #262
I'm using `2.1.2` too. I added a screen recording [here][1].

  [1]: https://dl.dropboxusercontent.com/u/29987662/Screencasts/realm-browser-osx-issue-262.mov

[2017-01-17 10:16] revolter commented on #261
Reproduced _3._ again, and I waited about 5 minutes but it didn't reconnect.

[2017-01-17 11:32] stel commented on #262
What tool do you use for launching the Browser? Does it work if you launch it from the Launchpad or Spotlight?

[2017-01-17 12:11] revolter commented on #262
[Lacona][1], but it's the same if I open it from Spotlight or Launchpad too.

  [1]: https://www.lacona.io

[2017-01-17 14:52] bigfish24 commented on #263
How important do we really believe this to be? It is a desktop app?

[2017-01-17 15:01] stel commented on #263
Yes, it's a Cocoa Browser. It's not a common case but it could cause a data loss, so it would be great to have something to prevent that.

[2017-01-17 15:20] bigfish24 commented on #263
Ok, in that case, I would not prioritize this at the moment, seems very niche.

[2017-01-19 12:40] stel commented on #259
Hi @anjanibansal! Do you still experience this issue? Did you have a chance to find any error logs or messages?

[2017-01-19 15:52] StefanoOrdine commented on #127
@TimOliver I'm trying to import from a csv file with 500 lines
[code]
It crashes, but like with 250 rows it does the job. Is there a way to import my 40K rows csv file with this tool?

[2017-01-19 16:54] TimOliver commented on #127
Hey @StefanoOrdine! When it crashes, what is the error it gives you exactly?

[2017-01-20 08:33] StefanoOrdine commented on #127
It gives no error just the application does not respond anymore. I can provide the full stack trace in a gist if required :-)

[2017-01-20 14:20] TimOliver commented on #127
Sure! That would definitely help! :)

[2017-01-20 14:58] StefanoOrdine commented on #127
I create a Gist for this:

https://gist.github.com/StefanoOrdine/bfc4d50ed4f0661b7dc60445a55b2cab

If there is anything more I can add to provide you more help just ask

[2017-01-25 16:02] jderrough commented on #252
Using a sample file from the test suite, boolean fields are not correctly (see screenshot, boolValue is typed as String) imported from CSV despite the fix.

<img width="948" alt="capture d ecran 2017-01-25 a 16 56 50" src="https://cloud.githubusercontent.com/assets/1108358/22298158/ccd8ff7e-e31f-11e6-8a17-a6b49b87e4ae.png">

[2017-01-25 21:43] astigsen opened #267 "Progress indicator when importing"
When importing large CSV (or XLSX) files, it would be great to see a progress indicator so you can follow how much time it will take.

[2017-01-26 03:49] cliftonlabrum opened #268 "Remember Admin Credentials and Token"
Every time I connect to an object server, I have to re-type my admin's username and password. It's be great if there were a way for the app to remember that info so I could connect more quickly (same thing for the admin token).

Thanks! :)

[2017-01-26 10:35] stel commented on #259
I'm closing this issue for now. @anjanibansal feel free to reopen it if you have a chance to reproduce this case.

[2017-01-26 10:37] stel commented on #268
Thank you for suggestions @cliftonlabrum! Will try to implement it in future updates or feel free to make a PR ;)

refs https://github.com/realm/realm-browser-osx/issues/261

[2017-01-27 17:47] AndyDentFree opened #269 "Improve usability and feedback of server URL entry"
The Server URL field currently has a faint grey placeholder _realm://_ but if you quickly type into that field it vanishes and there is no longer any prompt to remind you that protocol must be used.

**There is no error message** if you enter a different protocol such as http - just the **Connect** button failing to be enabled.

As we have a default port 9080 used too, it makes sense to allow a si

[2017-01-28 04:01] deepumukundan opened #270 "Realm browser freeze when opening large realm files"
We use realm to store service responses (Data) as a caching layer. The response files sometimes gets huge, as in 100'ds of MB (even after its compacted). When opening these .realm files, the browser hangs or fails to load the file in most cases. Not sure if it's trying to load the whole file. I am hoping it does a lazy load or results and the saved objects. On iOS, accessing the files are really q

[2017-01-30 09:16] stel commented on #270
@deepumukundan thank you for this report! It would be great if you can share the realm file that causes this issue.

[2017-02-01 06:25] ksibod commented on #144
I've made a pull request for this feature:
https://github.com/realm/realm-browser-osx/pull/272

[2017-02-01 22:40] sirvon opened #273 "How to create multiple models/classes in one realm file from importing multiple csv files?"
When i generate a demo database, I can see 3 model classes are inside the one realm file.

How do I generate one realm file, from importing 3 different csv files.

I would like all 3 csv files' data to be included in the realm file.

So far I am only able to import one csv file into a realm file.

How do I add more models?

[2017-02-02 18:32] jpsim commented on #273
Realm Browser's ability to import CSVs is fairly rigid, and mostly exposed as a convenience to get you started with Realm. For more flexibility on how data is imported, I'd recommend you use one of Realm's programmatic interfaces via the [Realm Mobile Database](https://realm.io/products/realm-mobile-database/).

[2017-02-03 11:10] anjanibansal commented on #259
The problem is still there. Every time I open a realm file, the browser crashes.
[code]

I've sent you the crash report from within the Realm Browser app.

[code]

[2017-02-03 11:14] anjanibansal commented on #259
Here's the exported realm file from my app, which I'm trying to open.

[export.realm.zip](https://github.com/realm/realm-browser-osx/files/750247/export.realm.zip)

[2017-02-03 12:02] stel commented on #259
Thanks for sending an example Realm file, @anjanibansal!

I was able to open it with the latest version (2.1.4) of the Realm Browser without any errors. Please make sure that you use the latest version of the Browser. Also please make sure the Realm file you're trying to open in not opened with the simulator at the same time, see more info in  https://github.com/realm/realm-browser-osx/issues/239#

[2017-02-03 12:42] anjanibansal commented on #259
I still am unable to open my database file. I've installed Realm Browser 2.1.4. I'm not using any simulators to run my app. I'm using a real Android device to debug it. I'm not trying to open the original Realm file but instead I'm copying its contents & then trying to open that copy.
I've even disconnected my device before opening the file in browser & the same thing happens. The file opens momen

[2017-02-03 12:50] anjanibansal commented on #259
Here's the log that I get when I try to reopen the browser.

[log.txt](https://github.com/realm/realm-browser-osx/files/750489/log.txt)

[2017-02-03 13:26] stel commented on #259
Oh, I didn't noticed that you use OS X 10.9, it looks like this issue is not related to the realm file at all, but there is some incompatibility with the previous version of AppKit. I'll take a closer look on it as soon as possible.

[2017-02-03 20:31] mrh-is opened #274 "Crash when attempting to open file"
It's an encrypted Realm, if that matters. Using Realm Swift 2.3.0 and Realm Browser 2.1.4.

[code]

[2017-02-03 22:52] jpsim commented on #274
Oh hai Michael! Since this is crashing in `upgrade_file_format`, it'd be very useful to get a copy of the Realm file. It might be hitting a bug in the file format upgrade code, or the file may be corrupt.

[2017-02-07 11:56] stel commented on #144
Merged! Thanks again, @ksibod!

[2017-02-07 11:56] #144 closed

[2017-02-07 12:23] stel commented on #270
@deepumukundan did you have a chance to find that sample realm file? You can share a link to us privately via help@realm.io

[2017-02-07 13:31] gritzko opened #275 "Crash on connection"
This crash happens intermittently; most of the time it just hangs up.
Happens on opening a RealmTasks realm on a demo server.

Console:
[code]

Stack trace:
[code]

[2017-02-08 19:34] deepumukundan commented on #270
Hi @stel I have emailed the file over to help@realm.io. Sorry for the delay.

[2017-02-09 09:08] #252 closed

[2017-02-09 10:40] stel commented on #275
This issue is tracked here: https://github.com/realm/realm-object-store/issues/296.

[2017-02-09 10:40] #275 closed

[2017-02-10 09:38] stel commented on #273
@sirvon do you need any further help here or can we close this issue?

[2017-02-10 09:40] stel commented on #259
@anjanibansal I've just merged a fix for this issue, not it should work ;)

[2017-02-10 10:17] stel commented on #270
Thank you for your help, @deepumukundan! I was able to reproduce this issue and it seems like the problem is that you have very long (~2 millions of symbols) strings in Realm and a `NSTextField` that is used to display these values in a table takes a lot of time to calculate its size and render its content.

I can't suggest any workarounds for that right now. One of the solution can be to use `NST

[2017-02-10 10:37] #258 closed

[2017-02-10 20:46] mrh-is commented on #274
I should have saved that, but I didn't. 😓 I'm not sure I could reliably recreate it either. Sorry team... If I hit this again, I'll be sure to grab the Realm file.

[2017-02-10 20:46] #274 closed

[2017-02-11 23:17] sirvon commented on #273
this can be closed. thank you.

[2017-02-11 23:17] #273 closed

[2017-02-14 09:56] stel opened #281 "Crash when specifying incorrect server URL when connect to server"
`realm://SOME_HOST:9080/#!/`

[2017-02-17 14:28] dmorrow commented on #124
I'd be interested in this as well.  A socket connection like [Reveal App](https://revealapp.com) uses, active only if a param is turned on or a library included for a build configuration would be very helpful.

[2017-02-17 19:41] TimOliver commented on #124
If the Realm is synchronized through the Realm Mobile Platform, you can view the contents of the Realm in realtime in the Browser by connecting to the Object Server. :)

If you wanted to do something like Reveal (Which ostensibly runs a server on the device to serve the data), you could use something like [GCDServer](https://github.com/swisspol/GCDWebServer) or [iExplorer](https://macroplant.com/i

[2017-02-28 17:54] alazier opened #283 "ROS authentication usability improvements"
1. The browser should remember the admin token or authentication information
2. When opening a ROS realm, the list of realms should stay open so that other Realms can also be opened without re-authenticating.

[2017-03-06 17:54] sirvon commented on #202
is there currently still no way to model relationships from csv import in realm browser?

[2017-03-07 13:36] stel commented on #202
@sirvon no, relationships are not supported when importing from csv.

[2017-03-08 15:36] ArifADS opened #285 "Bug in Search"
When you try to Search realms in "Connect to Object Server", the cell you select doesn't match the realm it connects.

[2017-03-09 12:50] stel commented on #285
Thanks for reporting it!

[2017-03-09 13:06] #285 closed

[2017-03-10 14:41] DanielAsher opened #287 "Problem using 'Set linked object'"
Hi,

Thanks for a great product!

I have a `RealmBook` class with a `List<RealmPage>`. I would like to be able to add existing `RealmPage` objects to this list, but Realm Browser only lets me add a brand new object.

I noticed #57 but don't know how to use it or whether it is still working.

Any help appreciated!

thanks,
Daniel

[2017-03-13 09:34] stel commented on #287
Hi @DanielAsher!

Unfortunately Realm Browser doesn't support adding existing objects to lists currently. #57 implements setting linked object (1-to-1 relationship).

Currently you can try to add your objects manually using Realm sdk.

[2017-03-13 09:42] DanielAsher commented on #287
@stel - thanks for the rapid response.
I would love to suggest this as a feature. This is currently a blocking feature in the use of the browser which we would like to allow our content providers to use. One very expensive alternative would be to design a bespoke app to allow replicate the browser with this facility, but that cost is currently prohibitive. I very much hope that you will consider t

[2017-03-13 10:29] stel commented on #287
There is no workaround for this scenario unfortunately. This is definitely a must-have feature, so we will consider adding it and you're always welcome to send us a PR ;)

[2017-03-13 17:51] DanielAsher commented on #287
@Step thanks again for clear and rapid response! I'll know not to fiddle around with my schema.

I would love to offer a PR here, but MacOS is outside of my 'code it up in a day' horizon. I do believe this is an essential feature if the browser - the eyes and ears of our realms - is to be useful for content creators.

Best regards,

Daniel

[2017-03-13 23:30] einsteinx2 commented on #269
+1

I just wasted 10 minutes or so figuring this out today. Also if you try to connect directly to one of the other non-proxy ports it either crashes the app or just closes the window. First I had to figure out to type realm:// (which should be implied when nothing is entered, as well as you mentioned there's no error message for using http:// which I did), then I had to figure out to use the 9080

[2017-03-13 23:34] einsteinx2 commented on #269
Also worth noting that when reading the docs for the Object Server and seeing the usage of http to connect, I'm not quite sure why the Realm Browser even requires the use of realm:// anyway:

`let serverURL = URL(string: "http://my.realmServer.com:9080")!`

[2017-03-14 02:54] einsteinx2 commented on #269
Actually the issue I had earlier was connecting using the "Connect to Object Server" option, which I finally got to work.

For the life of me, I cannot get the Open button to enable when using the "Open Sync URL..." option. I have my correct realm:// url, and the correct username and password the works in my app, but I just can't get the Open button to enable. I've tried all kinds of other random

[2017-03-20 09:24] DanielAsher opened #288 "Crash on connection after server IP address change (AWS Elastic IP)"
I associated an Elastic IP with my ROS instance (EC2). The realm dashboard updated immediately but I have a consistent crash when attempting to connect with Realm Browser.

The crash appears in NSOperationQueue thread **libdispatch.dylib _dispatch_client_callout**

I tried un/reinstalling the app, but this doesn't seem to remove past data/metadata. Is there a way to do this?

thanks,

Daniel

(Rea

[2017-03-20 09:33] DanielAsher commented on #288
I tried `rm -rf ~/Library/Caches/io.realm.realmbrowser` but the connection dialog still was auto-filled and the crash still happened. Creating a new admin user and logging in does work though.

[2017-03-20 14:03] molind opened #289 "Realm list on Object Server issue."
When you connect to Object Server it shows list of realms on server. We have 3k realms on our server right now so I use search to find realms of specific user. I put that user id into search field and results show me filtered data. But when i open first result - it opens __admin realm instead of selected realm of  that user. My guess that it opens first realm in not filtered list.

[2017-03-20 14:05] molind opened #290 "Add way to return from realm to realm list"
Please add a possibility to return on realm list when you checked one realm and need to open another one from the same server.

[2017-03-20 14:22] molind commented on #289
Checked last commit from master. It works as expected.

[2017-03-20 14:22] #289 closed

[2017-03-21 12:38] stel commented on #288
@DanielAsher try to remove the directory at `~/Library/Containers/io.realm.realmbrowser` and restart the Browser.

[2017-03-21 12:40] stel commented on #290
Thanks for your suggestions, @molind! I'm closing this issue because we track this enhancement in https://github.com/realm/realm-browser-osx/issues/283.

[2017-03-21 12:40] #290 closed

[2017-03-22 12:47] DanielAsher commented on #288
@stel I can confirm that this works!

many thanks and kind regards,
Daniel

[2017-03-22 12:56] stel commented on #288
Thanks for letting us know, @DanielAsher! I'm closing this issue because we track it in https://github.com/realm/realm-object-store/issues/296.

[2017-03-22 12:56] #288 closed

[2017-03-26 10:53] switchawk opened #291 "Open after filtering opens admin"
Hi,
It seems that when I filter the list and then double click the row, it'll always open the admin database.

[2017-03-28 00:59] astigsen opened #292 "Improve error message when URL is incorrect"
The current error when you try to open a wrong URL (like forgetting to include the port) is really obscure:

<img width="430" alt="screen shot 2017-03-27 at 5 56 46 pm" src="https://cloud.githubusercontent.com/assets/69422/24384214/0a7b5634-1317-11e7-91fe-7e52d6aad4df.png">

[2017-03-28 08:28] stel commented on #291
Thanks for contacting us, @switchawk! This issue was fixed in https://github.com/realm/realm-browser-osx/pull/286 and will be released soon ;)

[2017-03-28 08:28] #291 closed

[2017-03-29 08:54] stel commented on #292
I wasn't able to reproduce this by specifying incorrect url. @astigsen do you have any specific examples when it happens?

![screen shot 2017-03-29 at 10 51 24 am](https://cloud.githubusercontent.com/assets/429275/24446428/aeeeef3a-146d-11e7-8a17-8a1e358f5c31.png)

![screen shot 2017-03-29 at 10 53 17 am](https://cloud.githubusercontent.com/assets/429275/24446497/f25b3e4a-146d-11e7-8e7a-d9a141feb8

[2017-03-29 08:56] stel commented on #281
The issue doesn't reproduce anymore.

[2017-03-29 08:56] #281 closed

[2017-03-29 11:50] pbrewczynski opened #293 "Is this proper place to signal that we have v2.5.0 version of realm-cocoa but not compatible browser?"
Is this place proper to signal that we have v2.5.0 version of realm-cocoa but not compatible browser?

:(

[2017-03-29 13:09] stel commented on #293
Yes, we're working on that in https://github.com/realm/realm-browser-osx/pull/294 and the update will be released soon.

[2017-03-29 13:54] stel commented on #293
@pbrewczynski you can download the latest version at https://github.com/realm/realm-browser-osx/releases/tag/v2.1.7. The update on the Mac App Store will be available after Apple Review.

[2017-03-29 13:54] #293 closed

[2017-03-30 07:50] pbrewczynski commented on #293
Thank you.

[2017-03-30 09:41] switchawk opened #295 "Can't connect to server"
Hi,

Since I updated to 2.1.7 (91) I can't seem to connect to my server. Connecting from the web browser works fine. I also connect using the browser earlier, so I'm pretty sure it's something in the update.
[code]

[2017-03-30 12:09] stel commented on #295
@switchawk please note (from [Realm 2.5.0 Release Notes](https://github.com/realm/realm-cocoa/releases/tag/v2.5.0)):

1.3.0 or later.

Make sure you use the latest version of Realm Object Server.

[2017-03-31 12:05] biftekman commented on #208
If I had a penny each time I had to copy/paste the key by now while this feature request has gone M.I.A... We could probably afford another hire :D

[2017-03-31 18:01] TimOliver commented on #208
We have a lot of different priorities at the moment. Sorry we haven't
managed to get this feature request yet.

But that being said. All the code is open source and available in this repo
and pull requests are greatly appreciated. :)

On Fri, Mar 31, 2017 at 5:05 AM, Marcel V. <notifications@github.com> wrote:

[2017-04-02 03:56] astigsen opened #296 "Browser does not live update schema on migrations"
When watching a Realm that is being migrated (for example by adding a few new properties or classes), the browser does not update to show the new properties. You have to reopen the realm to make the browser include them.

[2017-04-02 10:31] switchawk commented on #295
Noob question: How do I update the server? the docs only specify how to install.

[2017-04-03 16:28] FreudGit commented on #210
2.1.7 = I still have this issue.

[2017-04-03 18:35] jpsim commented on #210
@FreudGit exact steps to reproduce? Like sharing a CSV file that triggers this behavior?

[2017-04-03 18:52] dhmspector opened #297 "Random Crashes when opening"
Env: RPM/PE 1.3.0, RealmSwift 2.5.0, RealmBrowser 2.1.7

I have some realms that cannot be opened by the browser, attempting to open them results in repeatable crashes.

The realm types are the /_permissions realm and any number of custom created Realms.  They can sometimes be opened once, subsequent attempts end in the app exiting and crash dumps/reports being produced.  If the realm is able to b

[2017-04-03 18:57] jpsim commented on #297
This isn't a complete bug report. Please list exact steps to reproduce the crash you're experiencing.

For example:

1. Launch Realm Browser 2.1.7
2. Click "Connect to Object Server"
3. Enter `realm://138.68.10.250` in the "Server URL" field
4. Enter ??? in the "Admin Access Token" field
5. Click "Connect"
6. Experience crash?

[2017-04-03 18:58] dhmspector commented on #297
@jpsim  happens both with a user credential _and_ the admin token.  (sorry.. forgot to put the in the original report)

[2017-04-03 19:50] jpsim commented on #297
I understand why you might not want to include a user credential or the "Admin Access Token" in this ticket, but please make sure that @stel has access to it so he can reproduce this without having to pay the 24 hour CPH->SF->CPH tax 😉

[2017-04-03 21:33] dhmspector commented on #297
Well does have direct access to the server via SSH... but point taken :)

[2017-04-04 09:13] stel opened #298 "Crash report doesn't contain the logs from assertion failures"

[2017-04-04 18:41] wilomgfx opened #299 "Wont open files generated from latest realm/js"
I cant open .realm dbs if they are generated from https://github.com/realm/realm-js

It says i have to upgrade the files to the latest version.  Also doesnt allow me to view the realm db when my emulator is using it.

Rolling back to realm-browser-osx **2.6.1** fixes the wrong realm file version.
**Yes my emulator is 64 bit (iphone 6)**

**Running macos 10.12.4**

[2017-04-04 19:06] jpsim commented on #299
Realm Browser 2.1.7 reads and writes files in a new format, which Realm JS doesn't yet support. Once a version of Realm JS with realm/realm-js#949 is released, you'll be able to access your Realm files simultaneously with both your emulator and Realm Browser 2.1.7.

[2017-04-04 19:38] wilomgfx commented on #299
Thats what i thought. Thanks :)!

[2017-04-04 19:38] #299 closed

[2017-04-05 21:34] adellhk commented on #295
@stel Do you have any instructions on updating our Realm Object Server version? This may not apply to everyone, but I'm using AWS EC2.

[2017-04-06 08:49] alibasta commented on #28
@TimOliver Any progress here? Is it coming?

[2017-04-06 13:18] stel commented on #295
Happy to hear that your server is up to date now, @adellhk! As you mentioned, you can find instructions for updating and lot of other useful info in [our docs](https://realm.io/docs/) ;)

[2017-04-06 13:18] #295 closed

[2017-04-07 20:10] raudabaugh commented on #296
Probably related to #234

[2017-04-10 11:03] Jorgiss commented on #297
I think I experience the same issue

[2017-04-10 12:16] stel commented on #297
I was able to reproduce it, will try to fix in next update.

[2017-04-10 19:17] noelmansour opened #300 "App store doesn't show updates for app"
I was on Realm Browser 2.1.5. When I checked the App store for updates, it didn't indicate that one was available. However, I could see in the release notes, that 2.1.7 was the latest.

In order to get it, I had to delete the old one and reinstall from scratch. I wonder if it installed the update but didn't replace the old one?

[2017-04-10 19:59] jpsim commented on #300
Actually 2.1.7 is available on the Mac App Store here: https://itunes.apple.com/app/realm-browser/id1007457278

![image](https://cloud.githubusercontent.com/assets/474794/24880010/939c4ba4-1ded-11e7-9ae6-e36afff3f331.png)

[2017-04-10 20:05] nicholas-jomo commented on #300
I also see the update when I open the AppStore app on my Mac OS Sierra.

[2017-04-10 20:13] noelmansour commented on #300
I think I was unclear in my description.

It's not that v2.1.7 was unavailable, but that when I checked, it didn't show the "Update" option. Instead, it just showed the "Open" option that appears when you're on the latest version.

Unfortunately, I didn't check to see if there were multiple versions of the Realm Browser installed on my machine. Perhaps that was the case and I was just using a resi

[2017-04-10 20:17] nicholas-jomo commented on #300
Well, it's an OS X issue, isn't it?

[2017-04-10 20:48] jpsim commented on #300
Have you filed a Radar? You can do so here, if you have an Apple Developer ID: https://bugreport.apple.com

This is an issue that's entirely out of our control and in Apple's hands.

[2017-04-10 20:48] #300 closed

[2017-04-13 21:10] mgohin opened #304 "Change temp files folder"
Hi,

I first choose a directory for temp files after first launch, but I would like to change it now, it spam the directory :(

![image](https://cloud.githubusercontent.com/assets/3430304/25024464/54fa002c-209e-11e7-8d2f-020ca5258e0e.png)

[2017-04-14 20:03] insidegui commented on #23
I'm working on this 😉

[2017-04-16 19:50] evgeny-sureev opened #305 "How to enter nil as value for Date fields?"
I am unable to enter nil value to optional Date field.

This is my model class:
[code]

As you can see, field `readyDate` is defined as optional and allows nil value. Indeed it can have nil value if it created in code. But if I create such object in Realm Browser, `readyDate` gets assigned with current timestamp and I am unable to change it to nil.

![nildate](https://cloud.githubusercontent.com/a

[2017-04-18 12:27] stel commented on #304
@mgohin could you please clarify what do you mean by temp files folder? Where did you choose it?

[2017-04-18 12:32] mgohin commented on #304
First time I launched Realm Browser, I think it asked me a folder to use to create those .lock and .management files, right ? Or I mixed up with another software ?
Are those file always created in the same folder as the .realm opened file ?

[2017-04-18 12:35] stel commented on #304
These files are generated by Realm automatically in the same folder each time you open realm file, please learn more about auxiliary files in docs at https://realm.io/docs/swift/latest/#auxiliary-realm-files.

[2017-04-18 12:38] mgohin commented on #304
Ok, so is it possible to automatically delete those files when closing Realm Browser ?

[2017-04-18 12:42] stel commented on #304
Other processes can open the same realm file at the same time, so it's not a good idea to delete those files automatically.

[2017-04-18 12:43] mgohin commented on #304
Ok, it's not very convenient when dropping the realm file in a crowded folder

[2017-04-18 12:50] stel commented on #304
These files are required by Realm internally and usually are hidden from the user in app's specific directories.

I'm closing this issue because it's not related to the Realm Browser itself, but your welcome to open another one in https://github.com/realm/realm-core and feel free to ask us any other questions!

[2017-04-18 12:50] #304 closed

[2017-04-18 12:54] mgohin commented on #304
Ok. I opened an issue to try ;)

https://github.com/realm/realm-core/issues/2576

[2017-04-19 14:19] stel commented on #297
The issue reproduces with Realm 2.6.1 as well, reproduced it in debugger.
![screen shot 2017-04-19 at 4 12 46 pm](https://cloud.githubusercontent.com/assets/429275/25184597/369f8d46-251b-11e7-9777-06b711c10c1b.png)
@tgoyne could you take a look at this? It reproduces randomly when the bindings try to open sync url that has a cached local copy. Let me know if I can help debugging this.

[2017-04-19 14:39] stel commented on #297
Actually it seems like the realm file becomes corrupted after this issue happens for the first time.

[2017-04-20 00:49] astigsen opened #306 "Create Realm based on schema"
It would be super useful if you could optimally specify a schema when opening a Realm (local or remote), and realm either opened with the new schema (possibly changing the existing schema) or if it did not already exist, a new realm created with the given schema.

The schema could be defined in the js JSON format.

[2017-04-20 05:20] TimOliver commented on #306
I've been wondering about this for a long time. Being able to create Realm files from scratch in the Browser would be a huge step in making Realm like SQLite in being able to ship pre-built database files.

The thing that's been holding me back is that it feels like it would be a really weird user experience if users could create a Realm initially in the Browser, but then couldn't change the schem

[2017-04-20 05:28] astigsen commented on #306
It would be preferable if you could dynamically change the schema in the browser, but until that is supported, you could solve the problem by being able to (re)open the realm with new schema (thus forcing a migration).

[2017-04-21 08:37] stel commented on #305
Hey @evgeny-sureev! Sorry for a delay with this. Unfortunately there is no way to set `nil` for date values right now. It's just a UI limitation and we will try to fix it.

[2017-04-24 18:20] tgoyne commented on #297
I need the access token to be able to follow the repro steps.

[2017-04-24 18:30] stel commented on #297
@tgoyne I don't think this instance of ROS still exists, but the issue reproduces with any recent version of ROS locally.

[2017-04-24 18:33] tgoyne commented on #297
What are the steps to trigger it with a local ROS instance then?

[2017-04-24 18:55] stel commented on #297
Provided some info in Slack. I didn’t really found any stable way to reproduce it. I opened the same realm in Connect to Server dialog 3-5 times and after that it seems that realm gets corrupted and OS crashes reading the schema.

[2017-05-01 23:14] Leo428 opened #307 "Request for A Linux Version Browser"
Hi, dear developers!
Recently I am using the realm server on Ubuntu and I found it very cool and useful. I also tried out the mac version realm browser on other's mac. I wish I could have a mac but currently I only have windows and Ubuntu on my devices. So I am asking if it is possible for you guys to develop a Linux version of the browser. It would be very helpful if we have this option supported

[2017-05-02 18:49] kristiandupont opened #308 "C# Generator creates lists for to-one relationships"
Generating the demo database and exporting C# definitions from it creates this:
[code]

The last property should be
[code]

[2017-05-02 19:17] jpsim commented on #308
A quick look at the implementation seems to show this isn't possible 🤔

https://github.com/realm/realm-browser-osx/blob/v2.1.7/RealmBrowser/Support/RLMModelExporter.m#L610-L682

[2017-05-03 09:42] kristiandupont commented on #308
To me it looks like a missing `break` statement here https://github.com/realm/realm-browser-osx/blob/v2.1.7/RealmBrowser/Support/RLMModelExporter.m#L668

[2017-05-03 14:09] jpsim commented on #308
You're right!

[2017-05-05 09:23] #308 closed

[2017-05-07 20:48] DJBen commented on #28
It's so helpful because I am very unconfident about the predicate I wrote first time and is in desperate need of a testing ground.

[2017-05-08 11:24] stel commented on #268
Done, thanks @insidegui!

[2017-05-08 11:24] #268 closed

[2017-05-08 11:50] #283 closed

[2017-05-08 11:52] stel commented on #261
I believe #301 and #312 fix 1 and 2 while 3 must have already been fixed in `realm-cocoa`. Closing this issue.

[2017-05-08 11:52] #261 closed

[2017-05-08 13:03] stel commented on #229
I believe this issue can be closed now as all these suggestion have been implemented. The only thing here is that all server realms can be filtered by user identity not the user name. In general case users don't have usernames.

[2017-05-08 13:03] #229 closed

[2017-05-08 14:29] cliftonlabrum commented on #229
This is fantastic! These changes are most welcome. :) I can't wait to try it.

[2017-05-09 12:20] FreudGit commented on #297
I actually got the crash.

I send you one report.  Feel free to contact me for more info (still append)

[2017-05-09 12:41] stel commented on #297
@FreudGit do you have a stable way to reproduce this issue?

[2017-05-09 21:34] revolter commented on #261
When will the new version be available?

[2017-05-10 07:48] dfreniche opened #313 "Realm Browser crashes when searching for apostrophes"
This happens always

1. open a Realm database file
1. go to search field
1. enter ' to search for names containing apostrophes
1. it crashes

It looks like the NSPredicates used are in the form:

[code]

so that apostrophe closes the apostrophes surrounding searched text. This happens also when using Realm from an iOS app. So my guess is that inside the library before creating the NSPredicates som

[2017-05-10 08:41] stel commented on #261
@revolter we will try to release it as soon as possible, right now the only issue that is holding us is https://github.com/realm/realm-browser-osx/issues/297.

[2017-05-10 08:48] revolter commented on #297
For me, it crashes everytime when I open a synced user's realm. Let me know what info you need from me to help you.

[2017-05-10 20:05] bdash commented on #313
Thanks for the report, @dfreniche.

[2017-05-10 21:25] FreudGit commented on #297
@stel crash almost each time.
Feel free to contact me for a screen share.
francois.hebert@gmail.com

[2017-05-11 08:30] stel commented on #297
Thanks @FreudGit! I think I've found a stable way to reproduce this issue in https://github.com/realm/realm-browser-osx/pull/311.

[2017-05-11 13:32] FreudGit commented on #297
@stel feel free to send me a beta version, I'll test it.

[2017-05-11 14:09] FreudGit opened #315 "Add a "remind me" field"
Hi

Realm Browser was minimalist, but can you please consider to add a check box "remind me" for the login credentials.

A bit painful to always have to retype. :)

[2017-05-12 07:02] ianbradbury-bizzibody commented on #296
I am also seeing this behaviour when connecting the Browser to an Object Server.

If I update a Realm schema in code (Swift) - the schema that is presented in Realm Browser when connected to the Object Server is the old schema.  The Realm Browser continues to work correctly, in that I can Create, Update and Delete items in the browser and those changes are synced correctly.

How can I get the Brow

[2017-05-12 07:21] ianbradbury-bizzibody commented on #296
I tried uninstalling the browser and installing a fresh copy from the app store.  Now when I try to open a Realm on the object Server that has a changed schema the Browser opens the Realm and syncs but then crashes.

I think the crash happens at the end of syncing.  Watching the object counts I am fairly sure that the crash happens at the end  - or near the end of the sync.

While the sync is in p

[2017-05-12 18:36] #313 closed

[2017-05-13 08:34] ajonno opened #316 "Crash when trying to connect to a *restarted* Azure VM"
Created an Azure Realm deployment. The Azure IP address / Realm sync test app (React Native) worked nicely and I could browse data using Realm Browser.

Shut down Azure VM.

Restart Azure VM.

Update the RN app to use new Azure IP address. Use new IP address in Realm Browser.

Every single open of Realm Browser crashes.

I downloaded and built from source in XCode. Here is the crash error:

![imag

[2017-05-15 09:53] stel commented on #315
It has already been implemented in https://github.com/realm/realm-browser-osx/pull/301 and will be released soon ;)

[2017-05-15 09:53] #315 closed

[2017-05-15 09:56] stel commented on #316
As a temporary workaround please delete the directory `~/Library/Containers/io.realm.realmbrowser` and restart the Browser.

This issue is tracked in https://github.com/realm/realm-object-store/issues/296 and once it's resolved it will be available for the Browser as well.

[2017-05-15 09:56] #316 closed

[2017-05-15 11:22] ajonno commented on #316
Thanks. Tried the workaround but Realm Browser still crashes.

[2017-05-16 08:23] stel commented on #316
@ajonno according to the screenshot the Browser doesn't crash but can't open a specified realm url. Please check the url and credentials and make sure specified realm exists on the server.

[2017-05-16 18:41] austinzheng commented on #297
https://github.com/realm/realm-object-store/pull/450 addresses this issue. The next release of the browser which pulls in the next release of the binding will ship with this fix.

[2017-05-17 12:34] stel commented on #297
Closing this issue. #317 contains that fix.

[2017-05-17 12:34] #297 closed

[2017-05-19 08:31] toanz commented on #297
HI @stel  , I build with 2.1.8 and Open my Sync URL And it crash here :
![screen shot 2017-05-19 at 3 26 52 pm](https://cloud.githubusercontent.com/assets/26352569/26239659/1b59b6a2-3ca8-11e7-9d33-3b3e7ea0556b.png)

How can i fix this ? thank you

[2017-05-19 09:54] stel commented on #297
@toanz it's just interrupted on a breakpoint, please disable breakpoints and try to launch it again or press "Continue" in the debugger.

[2017-05-19 10:05] toanz commented on #297
@stel , OH , it just work like charm  , thank you very much 👍  <3

[2017-05-22 13:42] rsbw opened #318 "The browser requires a 128-byte key to open the file encrypted with a 64-byte key"
The file was encrypted with a 64 byte key
[[RLMRealmConfiguration defaultConfiguration] encryptionKey]

[2017-05-24 10:25] stel commented on #318
You should use string representation of your encryption key which is 128-characters string of hexadecimal value.

[2017-05-24 13:00] rsbw commented on #318
Ok, it's not obvious

[2017-05-24 13:00] #318 closed

[2017-05-29 12:34] Craig-K2 opened #320 "Primary key always interrupted as GUID??"
Having installed the browser v2.1.8(92) on my Mac osSierra and opened my very empty realm to add some objects, noticed a discrepancy between the model class and how the browser displays the primary key field. See screen grabs...

<img width="777" alt="screen shot 2017-05-29 at 13 18 57" src="https://cloud.githubusercontent.com/assets/29040990/26549745/5b7ce35e-4472-11e7-9c7a-208a848aab82.png">

![

[2017-05-30 14:41] stel commented on #320
Thanks for reporting this, @Craig-K2! Could you send us a realm file to reproduce this issue?

[2017-06-02 07:51] Craig-K2 commented on #320
Hi Dmitry,

Sorry for not replying earlier, been on a short holiday. I would gladly
upload the realm file for you but I'm kind of new to GitHub and do not want
the public to have access to it.  I created a zip file and dragged it onto
GitHub - the url created was available to the public.

How should I do this?

On Tue, May 30, 2017 at 3:41 PM, Dmitry Obukhov <notifications@github.com>
wrote:

[2017-06-02 15:12] jdluker opened #323 "Realm Browser Log In Failing"
### 1. Goal
Log in to a ROS via the Realm Browser.

### 2. Expected Results
Successfully log in to a ROS via the Realm Browser.

### 3. Actual Results
<img width="645" alt="screen shot 2017-06-02 at 7 17 19 am" src="https://cloud.githubusercontent.com/assets/8332971/26731790/cd93a080-477a-11e7-919d-9205c9d10e11.png">

### 4. Steps to reproduce
I am attempting to connect to the following URL using

[2017-06-02 21:58] jpsim commented on #320
@Craig-K2 thanks for being open to working with us 😄 . You can email anything privately to us at help@realm.io. Make sure to include a link to this issue so we know what it's in reference to. Thanks!

[2017-06-03 16:50] stel commented on #323
According to the error message ROS is not accessible on specified URL and port number, please make sure your specified it correctly.

[2017-06-05 17:56] ianpward commented on #323
@jdluker can you try a `netstat` on that server and ensure it is listening on that port and IP?

[2017-06-09 16:35] ianpward opened #324 "Browser Crash on 2.1.8"
![pasted image at 2017_06_09 09_31 am](https://user-images.githubusercontent.com/1691481/26985079-d1bed98c-4cf6-11e7-8238-6a6b80f70f8b.png)

<details>

Process:               Realm Browser [71819]
Path:                  /Users/USER/Downloads/Realm Browser.app/Contents/MacOS/Realm Browser
Identifier:            io.realm.realmbrowser
Version:               2.1.8 (92)
App Item ID:           100745727

[2017-06-09 17:02] bigfish24 opened #325 "Can't click 'Connect' in "Connect To Object Server""
![image](https://user-images.githubusercontent.com/1036685/26985992-a0633d34-4cfa-11e7-9fa0-e3422ad27b68.png)

If I am missing the `realm://`

[2017-06-09 17:04] bigfish24 opened #326 "Crash After "Connect To Object Server""
Using 2.1.8 and after filling in my credentials the app crashed

<details>

Incident Identifier: 6571E9BB-136F-45E8-AEAE-1B25EE33F8F9
CrashReporter Key:   3E685EAD-9496-5F0C-BF9D-4DAE520EB3D5
Hardware Model:      MacBookPro11,2
Process:         Realm Browser [11753]
Path:
Identifier:      io.realm.realmbrowser
Version:         2.1.8 (92)
Code Type:       X86-64
Parent Process:  launchd [1]

Date/T

[2017-06-09 18:33] stel commented on #324
@ianpward any steps to reproduce this issue? If you start the Browser again it will ask you to send crash report - please do that and specify a link to this issue in description. That report contains more useful info.

[2017-06-09 18:52] stel commented on #326
Posting symbolicated stack trace here:
[code]

related to #324. @bigfish24, @ianpward does this crash reproduce constantly? What ROS version you're trying to connect?

It looks like this crash happens in cocoa dynamic API when trying to access `RealmFile.path` property from `__admin` realm which means either admin realm schema doesn't mach Browser's expectation (most likely it's not the case) or O

[2017-06-09 19:16] ianpward commented on #324
@stel Worked fine on next app launch - unfortunately, I did not know the report would be different than the one I included in the GH issue so I did not send -  I will next time.

[2017-06-09 19:18] ianpward commented on #326
ROS 1.7.5 - worked on next app load

[2017-06-09 23:56] bigfish24 commented on #326
I deleted the app entirely and then reinstalled from the Mac App Store. Again I tried to connect to object server and it crashed with this

<Details>
Incident Identifier: D9E6A984-EE34-4D7D-AE45-DDB7C6EF38E3
CrashReporter Key:   3E685EAD-9496-5F0C-BF9D-4DAE520EB3D5
Hardware Model:      MacBookPro11,2
Process:         Realm Browser [28724]
Path:
Identifier:      io.realm.realmbrowser
Version:

[2017-06-12 15:07] jdluker commented on #323
@stel Sorry for the unresponsiveness. I have been on vacation.

One side note... this ROS has whitelisted IP's, which is probably why you do not get a response. I can access it via my Chrome browser with the URL provided above. But I cannot access it via the Realm Browser. I'm sure this will make it way more difficult for us to debug!

I performed a `netstat` on the server. Here is the result:

[n

[2017-06-12 17:01] ianpward commented on #323
@jdluker Are you going some sort of proxy/firewall to get to the ROS?

[2017-06-12 18:11] jdluker commented on #323
@ianpward I am not, unless I am working remotely. If I am working remotely, then I VPN into our Solstice network. Otherwise, I am just using our office network.

[2017-06-12 18:15] jdluker commented on #323
I think maybe Elliot Butler could help us understand how the ROS is set up and how the whitelisting is configured.

[2017-06-12 18:57] stel commented on #326
The crash log looks the same but contains more info.

[code]

[2017-06-12 18:59] stel commented on #326
@bdash could this be related to the latest fixes in ObjectStore?

[2017-06-12 19:52] bdash commented on #326
It looks like core's `Table::get<StringData>` method is asserting. An assertion message should have been printed to the system console prior to the app crashing. Is anyone able to either reproduce this and share the assertion message, or retrieve the message from a previous crash?

[2017-06-13 21:57] bdash commented on #326
The working theory is that this may happen when opening the admin Realm if the admin Realm's schema was modified at some point in its history.

[2017-06-13 22:55] stel opened #327 "JS Model definitions cause crash in the postgres connector"
Reported from the user:

[code]

should be replaced to

[code]

[2017-06-13 23:01] stel commented on #324
I was able to reproduce it and #321 should fix this. Closing it, see #326 for more details.

[2017-06-13 23:01] #324 closed

[2017-06-13 23:03] stel commented on #326
I was able to reproduce the crash and #321 fixes the issue. One of the users also confirmed that the schema displays correctly after performing a migration.

[2017-06-13 23:17] stel commented on #325
we can use `realm://` by default but there's also `realms://`. refs https://github.com/realm/realm-browser-osx/issues/269

[2017-06-13 23:19] stel commented on #323
@jdluker I believe we've identified an issue on a server side so I'm closing this issue. Please feel free to reopen it or create a new one if you need any further help.

[2017-06-13 23:19] #323 closed

[2017-06-13 23:47] stel commented on #234
We've been finally able to reproduce this issue, it's fixed in #321.

[2017-06-13 23:47] #234 closed

[2017-06-13 23:48] #326 closed

[2017-06-14 23:31] stel commented on #320
@Craig-K2 I've checked the realm file you sent us and to me everything looks good – realm schema matches the schema definition you posted. However if the main concern was related to the default property value, I'm not sure if Realm Xamarin support that. I suggest to ask this question in https://github.com/realm/realm-dotnet.

[2017-06-15 21:10] stel commented on #260
This issue has been fixed in previous releases and doesn't reproduce with 2.1.9.

[2017-06-15 21:10] #260 closed

[2017-06-15 21:20] #269 closed

[2017-06-15 21:20] #325 closed

[2017-06-15 21:21] stel commented on #292
https://github.com/realm/realm-browser-osx/pull/329 introduces some UI improvements to handle URLs better.

[2017-06-15 21:21] #292 closed

[2017-06-23 09:00] stel commented on #320
I'm closing this issue for now. @Craig-K2 if you need any further help or have any details to share please feel free to reopen it or create a new one.

[2017-06-23 09:00] #320 closed

[2017-06-26 09:09] stel commented on #327
According to the [Docs](https://realm.io/docs/javascript/latest/#object-properties) the model definition is correct.

[2017-06-26 09:09] #327 closed

[2017-06-26 09:14] stel commented on #233
Unfortunately I'm still not able to reproduce this crash. Will close this issue for now. If it still exists we will get it via crash reports on HockeyApp.

[2017-06-26 09:14] #233 closed

[2017-06-28 12:27] stel commented on #287
Implemented in https://github.com/realm/realm-browser-osx/pull/332.

[2017-06-28 12:27] #287 closed

[2017-06-28 12:28] stel commented on #45
Implemented in https://github.com/realm/realm-browser-osx/pull/332.

[2017-06-28 12:28] #45 closed

[2017-06-28 19:44] dhmspector opened #333 "When adding a new record optional Data fields get a default value - should be nil"
In version 2.1.9(93) when adding a new record with CMD-+, any optional NSDate fields get populated with 6 bytes:

[code]

Unfortunately you cannot delete these data from the field using the browser; so there are really two issues

  1. No random data in optional fields
  2. Ability to clear out the field

[2017-06-29 09:16] stel commented on #333
Thanks for reporting this, @dhmspector!

[2017-07-04 17:12] cliftonlabrum commented on #268
Thank you! This has been so great! 🙂

[2017-07-06 00:01] softwarejoint opened #334 "Import from CSV does not work"
Realm Browser crashes when importing any format any size of data.

Browser version Version 2.1.10 (94) latest from appstore

Attached a simple csv file.
[csvfiledata.txt](https://github.com/realm/realm-browser-osx/files/1126369/csvfiledata.txt)

Incident Identifier: 7B066A65-2A4C-4650-AB82-BAD8F7B5341A
CrashReporter Key:   AE544290-F20C-5908-B516-A22C64A3CA2F
Hardware Model:      MacBookAir7,2
Pro

[2017-07-06 22:51] patreu22 commented on #334
+1

[2017-07-07 09:33] stel opened #335 "Crash on handling migrations for opened Realm"
If realm has been migrated to new schema version while opened in the Browser, most likely browser crashes. The issue is related to bindings which doesn't handle schema changes when using dynamic API.

[code]

There are cases for this issue: local and synced realms, also related to https://github.com/realm/realm-browser-osx/issues/296.

@bdash, @tgoyne do you have any thoughts on this?

[2017-07-07 09:45] stel commented on #334
Thanks for reporting this issue!

[2017-07-07 11:28] stel commented on #334
This issue is now tracked in https://github.com/realm/realm-cocoa-converter/pull/47.

/cc @bdash

[2017-07-10 12:20] #334 closed

[2017-07-12 13:45] dmorrow opened #337 "LinkingObjects column shows zero count"
Objects with a LinkingObjects relationship don't show a correct count.  All relationships show zero and clicking the link shows an empty list.
Querying the relationship in code shows the correct count.

Realm Browser 2.1.10 (94)
Mac OS X 10.11.6

[2017-07-12 14:28] jpsim commented on #337
`LinkingObjects` aren't persisted in the Realm file, they're just views into the underlying data, meaning that the browser isn't aware of them. So those "inverse relationship" properties won't even display as columns in the browser.

[2017-07-12 14:32] dmorrow commented on #337
I'm sorry - I was looking at an older version of the Realm where I was manually managing these values.

[2017-07-12 14:32] #337 closed

[2017-07-12 21:34] bigfish24 opened #338 "Toggle to see the internal sync Realms when you connect to server"

[2017-07-13 11:02] stel commented on #338
We've decided not to show `__` realms both in Dashboard and the Browser, however it's still possible to access it directly with "Open Realm URL" option. Does it work for you?

[2017-07-13 23:07] dmorrow opened #340 "Realm crash if deleteRealmIfMigrationNeeded = true and the Realm is open in the Browser"
If I am using the Realm Browser and use the `deleteRealmIfMigrationNeeded = true` configuration with a migration, Realm will crash on the next build.

Perhaps there is a way to reopen the Browser window, or alert the user and disconnect the Realm session?

I reported the issue to the Realm Cocoa project (https://github.com/realm/realm-cocoa/issues/5118), but I think it belongs here

![capture](htt

[2017-07-17 06:51] stel commented on #340
Thanks for reporting this issue @dmorrow! Will see what we can do here..

[2017-07-19 13:57] fxfactorial opened #343 "Showing data size -- Feature Request"
Thanks for releasing this, especially as Open-source.

For data fields, it would be nice to know how much the size is, for example
<img width="85" alt="screen shot 2017-07-19 at 7 01 40 am" src="https://user-images.githubusercontent.com/3036816/28370595-821124a8-6c4f-11e7-9e81-ecc29d657937.png">

doesn't tell me much, I need to know what size it actually is, or at least if it is non-zero in size.

[2017-07-20 22:54] bigfish24 opened #344 "Realm Browser that uses 3.0-beta"
To support beta users of RMP 2.0

[2017-07-20 22:54] #344 closed

[2017-07-24 07:58] DanielAsher commented on #338
Realm browser crashes when I try to open the __admin realm as an admin user.
[code]

[2017-07-25 11:46] MihaelIsaev opened #346 "Possibility to open realm file through ssh?"
Hello guys,

Could you please implement a possibility to open a realm file stored on server through ssh connection?
I just use realm as a database on my web server and there is no possibility to watch what's going on in the realm database in real time.. I can only copy the database to my computer and then open it... it's a little bit not convenient..

[2017-07-26 09:13] stel commented on #346
Thanks for this idea, @MihaelIsaev but I don't think it's something that we can implement inside the Browser. I'd rather suggest you to take a look on [Realm Mobile Platform](https://realm.io/products/realm-mobile-platform/) and the way you can sync Realms across devices.

[2017-07-26 09:13] #346 closed

[2017-07-26 16:53] sunilshettyy opened #347 "Realm Browser 3.0.0-beta Browser"
Open old .relam file -  it will ask to upgrade, Then run the app - it will crash(every time),
Just installed older browser again now app works as expected,

[2017-07-28 09:35] stel commented on #347
Thanks for reporting this issue, @sunilshettyy!

Please try to use [Beta 2](https://github.com/realm/realm-browser-osx/releases/tag/v3.0.0-beta.2). If the problem still there, could you please provide us a crash report or an example realm file to reproduce this issue?

[2017-07-28 12:56] ihor commented on #71
I've just reached 30Gb until my system started to complain. Without the browser, the file size is 6.5Mb.

[2017-07-28 15:46] bdash commented on #71
@ihor, can you share more details about what version of Realm you're using in your app and which version of the Realm Browser you're using? Can you share steps that we can follow to reproduce the problem?

[2017-07-28 18:56] ihor commented on #71
I'm using Realm 1.10.0, Realm Browser 2.1.11 (95) and Mac OS 10.12.3.

I was importing pre-installed application data with a node script. With opened browser, the *.realm file reached 30Gb. It was 26Gb when I noticed and it was growing like 1Gb in 1-2 mins. When I closed the browser and ran the script again the file size was 6.5Mb.

I have 16 tables. 5 of them have < 200 records, and other tables

[2017-08-05 23:21] patreu22 opened #349 "Set Primary Key Column?"
Hey guys,
awesome Repo, but I'm running in a few troubles:

I'm preparing a Database for an App using the Realm Browser. I'm importing a CSV and save the compressed Realm DB after that, everything fine.

Now I introduced the primary key variable in my Database, but I have no idea how to set that attribute in my pre-prepared Realm DB. Is there a solution for my problem or how would you solve that?

[2017-08-07 09:59] stel commented on #349
Hey @patreu22!

Unfortunately there is no way to set Primary Key when you import data, so you need to perform migration.

Alternatively you can import the data manually into realm file created by your app. You might find using [RealmConverter](https://github.com/realm/realm-cocoa-converter) directly with Realm Cocoa more flexible for that.

[2017-08-10 09:27] stel commented on #347
I'm closing this for now because of inactivity. @sunilshettyy please feel free to reopen this issue or create a new one.

[2017-08-10 09:27] #347 closed

[2017-08-15 05:09] basememara commented on #210
Below are the steps with the attached XLSX and Realm files produced with Realm Browser `2.1.12`.

1. Open Realm Browser
2. File > Import From > XLSX
3. Choose ImportTest.xlsx file
4. Select destination
5. Open default.realm

`ID` column shows string type but was all integers in source xlsx file (I even tried formatting the columns as numbers).

<img width="819" alt="capturfiles_2" src="https://use

[2017-08-15 06:16] #349 closed

[2017-08-18 17:50] bdash commented on #71
I had a thought this morning that this could be caused by Realm Browser going into App Nap. That could potentially result in significant delays in the Browser seeing modifications made by other processes, resulting in old versions being pinned for a significant amount of time.

[2017-08-29 09:08] BillinX opened #351 "editing Data type data directly hoped"
At present, editing non-Data type data function has been realized by the browser.
However, it seems that Data type data still can not be edited from the browser itself directly. So I hope that the browser would provide means to edit Data type data, for example, adding or exchanging a photo or an audio by dragging&dropping or selecting it.

[2017-08-30 11:59] bmunkholm commented on #351
Thanks for the suggestion. We will consider that going forward.

[2017-08-31 07:02] bmunkholm commented on #338
@DanielAsher The original issue is not related to the crash you see. Could you please create another issue for the crash? Thanks!

[2017-08-31 07:03] bmunkholm commented on #338
@bigfish24 Are you good with the proposed solution to your original request?

[2017-08-31 12:09] bigfish24 commented on #338
@stel no I would prefer a toggle. I don't understand the reason why we hide stuff. You can connect to Postgres and see/edit the internal tables, such as user management. Why should we be any different?

[2017-09-01 05:54] cliftonlabrum opened #352 "Realm Browser 3.0.0-beta.2 Prompts for Encryption Key"
When I try to open a realm file that was created by the Realm Object Server using `3.0.0-beta.2` of the Realm Browser, I get an error:

I'm not deliberately using any encryption in my app. Is this error an automatic consequence of trying to open a Realm used with the ROS? Is this encryption key available somewhere on my ROS?

<img width="1089" alt="rb-enc" src="https://user-images.githubuserconten

[2017-09-06 00:24] agersoncgps opened #353 "Editing date/time fields in the Realm Browser UI has no effect"
I make a change to the data that does not get written. Other fields are writable.

Example:
https://www.dropbox.com/s/2nxtyl3siqfrkq2/RealmBrowser.mov?dl=0

[2017-09-06 18:04] brittanygraft opened #354 "Is there a way to update/refresh the Realm Browser when data is changed besides downloading the container from device each time?"

[2017-09-12 14:36] suzukieng opened #355 "Add sorting by column"
My Realm database contains objects with Date timestamps. It would often be useful useful to me to be able to sort the displayed objects, e.g. clicking on the column header.

[2017-09-15 06:29] bmunkholm commented on #352
@cliftonlabrum Sorry about missing this one. Yeah that's likely due to incompatibility with the beta version of ROS and the Browser. We will update and release a new version soon.

[2017-09-15 06:34] bmunkholm commented on #353
Thanks @agersoncgps - that seems like a clear bug.

[2017-09-15 06:38] bmunkholm commented on #354
@brittanygraft If you are using RMP with syncronized Realms, then they are updated in real time. If you are using a simulator to run your app, then you can also just open the Realm the iOS simulator is using and you will see realtime updates. If you are doing Android developement, you have to download the Realm before you can see it. Alternatively you can use one of the 3'rd party device browsers